﻿<!DOCTYPE html>
<html>
<head>
  @Html.Partial("IncludeLink")
    <style>
        .abcd:hover {
            transform: scale(2);
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @Html.Partial("Header")

    @Html.Partial("SideMenu")
   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Alerts Information 
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Alerts</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <table>
                    <tr>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add"><i class="fa fa-user"></i>Add New Alert Request</button></td>
                        <td>&nbsp;</td>
                        <td>
                            <form action="~/Client/ExpertToExcelAlerts">
                                <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-files-o"></i>Export Excel</button>
                            </form>
                        </td>
                    </tr>
                </table>
                
              <div class="box-tools">
                  
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Room#</th>
                    <th>Alert Type</th>
                    <th>CreatedBy</th>
                    <th>AssignedTo</th>
                    <th>Status</th>
                    <th>VerifiedBy</th>
                    <th>Notes</th>
                    <th>Picture</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  
                  </tbody>
                </table>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
      
     

  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    
    @Html.Partial("RightSideBar")
  
    <div class="modal modal-warning fade" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Alerts</h4>
                </div>
                <form name="addMaintenanceRequest" id="addMaintenanceRequest">
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Select Room Number</label>
                                @Html.DropDownList("addselectionRoomIdID", new SelectList(ViewBag.AllRooms, "RoomID", "RoomNumber"), "Select Room Number", new { @class = "form-control", id = "addselectionRoomIdID", required = "required" })
                                <label>Select Alerts Type</label>
                                @Html.DropDownList("addselectionAlertsType", new SelectList(ViewBag.allAlertType, "AlertTypeID", "type"), "Select Type", new { @class = "form-control", id = "addselectionAlertsType", required = "required" })
                                <label>Select Assigned To</label>
                                @Html.DropDownList("addselectionAssignedTo", new SelectList(ViewBag.allAssignedTo, "EmployeeID", "Name"), "Select AssignedTo", new { @class = "form-control", id = "addselectionAssignedTo", required = "required" })

                                <label>Select Alerts Status</label>
                                @Html.DropDownList("addselectionAlertsStatus", new SelectList(ViewBag.allAlertStatus, "AlertStatusID", "Status"), "Select Alerts Status", new { @class = "form-control", id = "addselectionAlertsStatus", required = "required" })
                                <label>Select VerifiedBy</label>
                                @Html.DropDownList("addselectionVerifiedByID", new SelectList(ViewBag.getAllHeadHousekeeprOfBusiness, "EmployeeID", "Name"), "Select VerifiedBy", new { @class = "form-control", id = "addselectionVerifiedByID", required = "required" })

                                <label for="addNotes">Notes</label>
                                <textarea class="form-control" id="addNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="addcancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="addMaintenance()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Alerts</h4>
                </div>
                <form>
                    <input type="hidden" id="deleteAlertsStatusID" />
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Alerts?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelDelete">Close</button>
                        <button type="button" class="btn btn-outline" onclick="deleteAlertsList()">Delete</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Control Sidebar -->
    <!-- ./wrapper -->
    <div class="modal modal-warning fade" id="modal-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Alerts</h4>
                </div>
                <form name="editAlertForm" id="editAlertForm">
                    <input type="hidden" id="AlertsID" />
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Select Alerts Type</label>
                                @Html.DropDownList("selectionAlertsType", new SelectList(ViewBag.allAlertType, "AlertTypeID", "type"), "Select Type", new { @class = "form-control", id = "selectionAlertsType", required = "required" })
                                <label>Select Assigned To</label>
                                @Html.DropDownList("selectionAssignedTo", new SelectList(ViewBag.allAssignedTo, "EmployeeID", "Name"), "Select AssignedTo", new { @class = "form-control", id = "selectionAssignedTo", required = "required" })

                                <label>Select Alerts Status</label>
                                @Html.DropDownList("selectionAlertsStatus", new SelectList(ViewBag.allAlertStatus, "AlertStatusID", "Status"), "Select Alerts Status", new { @class = "form-control", id = "selectionAlertsStatus", required = "required" })
                                <label>Select VerifiedBy</label>
                                @Html.DropDownList("selectionVerifiedByID", new SelectList(ViewBag.getAllHeadHousekeeprOfBusiness, "EmployeeID", "Name"), "Select VerifiedBy", new { @class = "form-control", id = "selectionVerifiedByID", required = "required" })


                                <label for="editNotes">Notes</label>
                                <textarea class="form-control" id="editNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="editcancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="editAlertsList()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="modal-img">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Alerts Images</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <img height="200" width="200" id="img1" name="img1" class="abcd"/>
                        <img height="200" width="200" id="img2" name="img2" class="abcd"/>
                        <img height="200" width="200" id="img2" name="img3" class="abcd"/>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>
        $(function () {
            $('#example1').DataTable({
                "ajax": 'getAllAlertsAjax/',
                "columns": [
                    { "data": "CreatedAt" },
              { "data": "RoomNumber" },
          { "data": "Type" },
              { "data": "CreatedBy" },
               { "data": "AssignedTo" },
                { "data": "Status" },
                { "data": "VerifiedBy" },
          { "data": "Note" },
          {
              "targets": 4,
              "data": "Picture1",
              "render": function (data, type, row, meta) {

                  if(data!=null)
                  {
                      return `<div class="btn-group">
                                    <a data-toggle="modal" data-target="#modal-img" value= ` + data + ` ><img  height="25px" width="25px" src="@Url.Content("~/Content/img/image1.png")" /></a>
                                </div>`
                  }
                  return "No Picture";

              }
          },
          {
              "targets": 4,
              "data": "AlertsID",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                                    <button type="button" class ="btn btn-info" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Edit</button>
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                                </div>`
                  ;
              }
          }
                ]
            });
        });
        setInterval(function () {
            var session = @Session["BusinessID"] != null;
            if (session == false) {
                window.location = "/Client/Login";
            }
            else {
                $('#example1').DataTable().ajax.reload(null,false);
            }
        }, 2000);
        $('#example1 tbody').on('click', 'button', function () {

            var data = $('#example1').DataTable().row($(this).parents('tr')).data();

            $("#deleteAlertsStatusID").val(data["AlertsID"]);
            $("#AlertsID").val(data["AlertsID"]);
            $("#selectionAlertsType").val(data["AlertTypeID"]);
            $("#selectionAssignedTo").val(data["AssignedToId"]);
            $("#selectionAlertsStatus").val(data["AlertStatusID"]);
            $("#selectionVerifiedByID").val(data["VerifiedById"]);
            $("#editNotes").val(data["Note"]);
            //$('#img1').attr("src", data["Picture1"]);
            //$('#img2').attr("src", data["Picture2"]);
            //$('#img3').attr("src", data["Picture3"]);
            //console.log($("#editClockoutTime").val());
        });
        $('#example1 tbody').on('click', 'a', function () {

            $('#img1').attr("src", "");
            $('#img2').attr("src", "");
            $('#img3').attr("src", "");
            var data = $('#example1').DataTable().row($(this).parents('tr')).data();

            $('#img1').attr("src",  data["Picture1"]);
            $('#img2').attr("src", data["Picture2"]);
            $('#img3').attr("src", data["Picture3"]);
            //console.log($("#editClockoutTime").val());
        });
    </script>
    <script>
        function addMaintenance() {
            if($("#addMaintenanceRequest")[0].checkValidity())
            {
                $.post("@Url.Action("AddAlertsAjax", "Client")",
            {
                id: $("#addselectionRoomIdID").val(),
                type: $("#addselectionAlertsType").val(),
                assignedto: $("#addselectionAssignedTo").val(),
                status: $("#addselectionAlertsStatus").val(),
                verifyedby: $("#addselectionVerifiedByID").val(),
                note: $("#addNotes").val()
            },
            function (data) {
                if (data == 1) {

                    $("#addcancel").click();
                    //alert("Alerts edited Successfully");
                    $("#addMaintenanceRequest")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#addMaintenanceRequest")[0].reportValidity();
            }
    }
    </script>
    <script>
        function editAlertsList() {
            if($("#editAlertForm")[0].checkValidity())
                {
        $.post("@Url.Action("editAlertsAjax", "Client")",
    {
        id: $("#AlertsID").val(),
        type: $("#selectionAlertsType").val(),
        assignedto: $("#selectionAssignedTo").val(),
        status: $("#selectionAlertsStatus").val(),
        verifyedby: $("#selectionVerifiedByID").val(),
        note: $("#editNotes").val()
    },
    function (data) {
        if (data == 1) {
            $("#editcancel").click();
            //alert("Alerts edited Successfully");
            $("#editAlertForm")[0].reset();
        }
        else{
            //alert("Something went wrong please try again ! ");

        }
    });
        }
        else
        {
                $("#editAlertForm")[0].reportValidity();
        }
        }
    </script>
    <script>
        function deleteAlertsList() {

            $.post("@Url.Action("deleteAlertsAjax", "Client")",
        {
            id: $("#deleteAlertsStatusID").val(),

        },
        function (data) {
            if (data == 1) {
                //alert("Alerts deleted Successfully");
                $("#cancelDelete").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>

</body>
</html>
