﻿@model IEnumerable<SmartHotelClient.Models.RoomLists>
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Header")

        @Html.Partial("SideMenu")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Assign Room To Head Housekeeper  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#startOver">Start Over</button>
                    <!--  <small>Control panel</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Assign</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Assign Room To Head Housekeeper</h3>
                                <form action="/Client/AssignHeadHKAutomatically" method="post">
                                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal-danger">Assign Automatically</button>    
                                </form>
                                    
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row margin">
                                    <p>Drag & Select Room Series</p>
                                    <div class="col-sm-4">
                                        <input type="text" id="roomrangeslider" name="roomrangeslider" value="" class="slider form-control" data-slider-min="@ViewBag.RoomStartRange" data-slider-max="@ViewBag.RoomEndRange"
                                               data-slider-step="5" data-slider-value="[@ViewBag.RoomStartRange,@ViewBag.RoomEndDisplayRange]" data-slider-orientation="horizontal"
                                               data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.DropDownList("selectionEmployeeID", new SelectList(ViewBag.AllHousekeeper, "EmployeeID", "Name"), "Select Housekeeper", new { @class = "form-control", id = "selectionEmployeeID", onchange = "EnableCreateButton()" })

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#abc" id="createButton" disabled="true" onclick="populateRoomList()">Assign Rooms</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Assigned Rooms List</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>AssignedTo</th>
                                                <th>Rooms</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in ViewBag.AllHousekeeper)
                                                {
                                                    <tr>
                                                        <td>@item.Name </td>
                                                        <td>
                                                            @{
                                                                if (Model != null)
                                                                {
                                                                    foreach (var item1 in Model.Where(m => m.HeadHousekeeperID == Convert.ToInt32(@item.EmployeeID)))
                                                                    {
                                                                        @:@item1.RoomNumber,


                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Edit" onclick="populateEditRoomList(this)" value="@item.EmployeeID">Edit</button>
                                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Delete" onclick="populateDeleteRoomList(this)" value="@item.EmployeeID">Delete</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                                }
                                            }

                                        </tbody>

                                    </table>
                                    <form action="~/Client/ViewAllRooms">
                                        <button type="submit" class="btn btn-success btn-block" >VIEW ALL ROOMS>></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
    
  
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    
    @Html.Partial("RightSideBar")
  
    <div class="modal modal-primary fade" id="abc">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/AssignHeadHKRoomList" name="createRoomList" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Create Room List</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <input type="hidden" id="addEmployeeID" name="addEmployeeID" />
                            <input type="hidden" id="selectedEmployee" name="selectedEmployee" />
                            <input type="hidden" id="createdAt" name="createdAt" />
                            <label for="exampleInputEmail1">Select Room Number</label>
                            <div id="selectroomcheckbox" class="myinput"> </div>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelCreate">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="Edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/EditHeadHKRoomList" name="EditRoomList" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit Room List</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <input type="hidden" id="editselectedEmployee" name="editselectedEmployee" />
                            <label for="exampleInputEmail1">Select Room Number</label>
                            <div id="editselectroomcheckbox" class="myinput"> </div>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="Delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/DeleteHeadHKRoomList" name="DeleteRoomList" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Delete RoomList</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <input type="hidden" id="deleteselectedEmployee" name="deleteselectedEmployee" />
                            <p>Are you sure you want to delete it ? </p>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-primary fade" id="startOver">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/DeleteAllHeadHKRoomList" name="startoverform" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Startover Assign To Housekeeper</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <p>Are you sure you want to start over ? </p>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
  $(function () {
    /* BOOTSTRAP SLIDER */
    $('.slider').slider()
  })
    </script>
    <script>
        function populateRoomList()
        {
            document.getElementById("selectroomcheckbox").innerHTML = "";
            if($("#roomlistStatus").val()!="")
            {


                var selectedRange = $("#roomrangeslider").val();
                var start =parseInt( selectedRange.split(",", 2)[0]);
                var end = parseInt(selectedRange.split(",", 2)[1]);
                document.getElementById("selectedEmployee").value = $("#selectionEmployeeID").val();
                var d=new Date();
                document.getElementById("createdAt").value = d.getMonth()+"/"+d.getDate()+"/"+d.getFullYear()+ " "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
                //alert($("#roomlistStatus").val());

                $.post("@Url.Action("getAllHeadHKUnassignedRooms", "Client")",
            {
            },
            function (data) {
                //alert(data.data.length)
                for (var i = 0; i < data.data.length; i++) {
                    if(data.data[i]["RoomNumber"]>=start && data.data[i]["RoomNumber"]<=end)
                    {
                        var div = document.createElement('span');
                        var checkbox = document.createElement('input');
                        checkbox.type = "checkbox";
                        checkbox.name = "roomlist" + data.data[i]["RoomID"];
                        checkbox.value = data.data[i]["RoomID"];
                        checkbox.checked = true;
                        checkbox.id = "roomlist" + data.data[i]["RoomID"];
                        var label = document.createElement('label');
                        label.appendChild(document.createTextNode(data.data[i]["RoomNumber"]));
                        label.appendChild(checkbox);
                        document.getElementById("selectroomcheckbox").appendChild(label);
                    }
                }

            });
            }
            else
            {

            }
        }
    </script>
    <script>
        function populateEditRoomList(objButton)
        {

            document.getElementById("editselectedEmployee").value = objButton.value;
            document.getElementById("editselectroomcheckbox").innerHTML="";

            var lstrooms = @Html.Raw(Json.Encode(Model));

            for (var i = 0; i < lstrooms.length; i++) {
                var room=lstrooms[i];
                if(room.HeadHousekeeperID==parseInt(objButton.value))
                {
                    var div = document.createElement('span');
                    var checkbox = document.createElement('input');
                    checkbox.type = "checkbox";
                    checkbox.name = "roomlist" + room.RoomListID;
                    checkbox.value = room.RoomListID;
                    checkbox.checked = true;
                    checkbox.id = "roomlist"+ room.RoomListID;
                    var label = document.createElement('label');
                    label.appendChild(document.createTextNode(room.RoomNumber));
                    label.appendChild(checkbox);
                    document.getElementById("editselectroomcheckbox").appendChild(label);
                }
            }
        }

    </script>
    <script>
        function populateDeleteRoomList(objButton)
        {

            document.getElementById("deleteselectedEmployee").value = objButton.value;

            //var d=new Date();
            //document.getElementById("createdAt").value = d.getMonth()+"/"+d.getDate()+"/"+d.getFullYear()+ " "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
            //alert($("#roomlistStatus").val());

        }
        function EnableCreateButton()
        {
            if ($("#selectionEmployeeID").val() > 0)
            {

                document.getElementById("createButton").disabled =false;
            }
            else
            {
                document.getElementById("createButton").disabled =true;
            }
        }
    </script>
</body>
</html>
