﻿@model IEnumerable<SmartHotelClient.Models.RoomLists>
<!DOCTYPE html>
<html>
<head>
  @Html.Partial("IncludeLink")
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    @Html.Partial("Header")

@Html.Partial("SideMenu")
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Create Room List  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#startOver">Start Over</button>
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Create</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Assign Room Status</h3>
        <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-danger">Assign Automatically</button> -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row margin">
            <p>Drag & Select Room Series</p>  

          <div class="col-sm-4">
            <input type="text" id="roomrangeslider" name="roomrangeslider" value="" class="slider form-control" data-slider-min="@ViewBag.RoomStartRange" data-slider-max="@ViewBag.RoomEndRange"
                   data-slider-step="5" data-slider-value="[@ViewBag.RoomStartRange,@ViewBag.RoomEndDisplayRange]" data-slider-orientation="horizontal"
                   data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
            </div>
            <div class="col-sm-4">
                @Html.DropDownList("roomlistStatus", new SelectList(ViewBag.RoomAllStatus, "RoomDutyID", "Duty"), "Select Room Status", new { @class = "form-control",id= "roomlistStatus", onchange ="EnableCreateButton()" })
           <p id="errorMsg" style="color:red"></p>
          </div>
          <div class="col-sm-4">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-primary" id="createButton" disabled="true" onclick="populateRoomList()">Create</button>
          </div>
         
          </div>
        </div>
    </div>
    <div class="box">
          <div class="box-header">
            <h3 class="box-title"> Rooms List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
              <div class="box-body table-responsive no-padding">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>  
                      <th>Status</th>
                      <th>Rooms</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                        @{
                            foreach (var item in ViewBag.RoomAllStatus)
                            {
                                <tr>
                                    <td>@item.Duty</td>
                                    <td>
                                        @{ 
                                            if (Model != null)
                                            {
                                                foreach (var item1 in Model.Where(m => m.RoomDutiesID == Convert.ToInt32(@item.RoomDutyID)))
                                                {
                                                @:@item1.RoomNumber,


                                                    }
                                                }
                                            }
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Edit" onclick="populateEditRoomList(this)" value="@item.RoomDutyID">Edit</button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Delete" onclick="populateDeleteRoomList(this)"  value="@item.RoomDutyID">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    
                    </tbody>
                   
                  </table>
                 
                  <form action="~/Client/AssignToHousekeeper">
                      <button type="submit" class="btn btn-success btn-block">NEXT ASSIGN ROOMS TO HOUSEKEEPER>></button>
                  </form>
                
                </div>
            </div>
    </div>
   
      
    </div>
    </section>
  </div>
  
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

  @Html.Partial("RightSideBar")
<!-- ./wrapper -->
    <div class="modal modal-primary fade" id="modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/AddRoomList" name="addEmployee" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Create Room List</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <input type="hidden" id="addEmployeeID" name="addEmployeeID" />
                            <input type="hidden" id="selectedStatus" name="selectedStatus" />
                            <input type="hidden" id="createdAt" name="createdAt" />
                            <label for="exampleInputEmail1">Select Room Number</label>
                            <div id="selectroomcheckbox" class="myinput"> </div>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelCreate">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="Edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/EditRoomList" name="EditRoomList" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit Room List</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <input type="hidden" id="editEmployeeID" name="editEmployeeID" />
                            <input type="hidden" id="editselectedStatus" name="editselectedStatus" />
                            <label for="exampleInputEmail1">Select Room Number</label>
                            <div id="editselectroomcheckbox" class="myinput"> </div>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="Delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/DeleteRoomList" name="DeleteRoomList" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Delete RoomList</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <input type="hidden" id="deleteselectedStatus" name="deleteselectedStatus" />
                            <p>Are you sure you want to delete it ? </p>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="startOver">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/DeleteAllRoomList" name="startoverform" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Startover RoomList</h4>
                    </div>
                    <div class="modal-body" id="selectroomlistbody">
                        <h5>
                            <p>Are you sure you want to start over ? </p>

                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<!-- jQuery 3 -->


<script>
  $(function () {
    /* BOOTSTRAP SLIDER */
    $('.slider').slider()
  })
</script>
    <script>
        function populateRoomList()
        {
            if($("#roomlistStatus").val()!="")
            {

            
                var selectedRange = $("#roomrangeslider").val();
                var start =parseInt( selectedRange.split(",", 2)[0]);
                var end = parseInt(selectedRange.split(",", 2)[1]);
                document.getElementById("selectedStatus").value = $("#roomlistStatus").val();
                var d=new Date();
                document.getElementById("createdAt").value = d.getMonth()+"/"+d.getDate()+"/"+d.getFullYear()+ " "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
                //alert($("#roomlistStatus").val());
       
                $.post("@Url.Action("getAllRooms", "Client")",
            {
            },
            function (data) {
                document.getElementById("selectroomcheckbox").innerHTML="";     
                //alert(data.data.length)
                for (var i = 0; i < data.data.length; i++) {
                    if(data.data[i]["RoomNumber"]>=start && data.data[i]["RoomNumber"]<=end)
                    {
                        var div = document.createElement('span');
                        var checkbox = document.createElement('input');
                        checkbox.type = "checkbox";
                        checkbox.name = "roomlist" + data.data[i]["RoomID"];
                        checkbox.value = data.data[i]["RoomID"];
                        checkbox.checked = true;
                        checkbox.id = "roomlist" + data.data[i]["RoomID"];
                        var label = document.createElement('label');
                        label.appendChild(document.createTextNode(data.data[i]["RoomNumber"]));
                        label.appendChild(checkbox);
                        document.getElementById("selectroomcheckbox").appendChild(label);
                    }
                }
            
            });
            }
            else
            {
                document.getElementById("errorMsg").innerText="Please Select Status";
                $("#cancelCreate").click();
            }
        }
    </script>
    <script>
        function populateEditRoomList(objButton)
        {

            document.getElementById("editselectedStatus").value = objButton.value;

            //var d=new Date();
            //document.getElementById("createdAt").value = d.getMonth()+"/"+d.getDate()+"/"+d.getFullYear()+ " "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
            //alert($("#roomlistStatus").val());
            document.getElementById("editselectroomcheckbox").innerHTML="";
            var lstrooms = @Html.Raw(Json.Encode(Model));
            for (var i = 0; i < lstrooms.length; i++) {
                var room=lstrooms[i];
                if(room.RoomDutiesID==parseInt(objButton.value))
                {
                    var div = document.createElement('span');
                    var checkbox = document.createElement('input');
                    checkbox.type = "checkbox";
                    checkbox.name = "roomlist" + room.RoomID;
                    checkbox.value = room.RoomID;
                    checkbox.checked = true;
                    checkbox.id = "roomlist"+ room.RoomID;
                    var label = document.createElement('label');
                    label.appendChild(document.createTextNode(room.RoomNumber));
                    label.appendChild(checkbox);
                    document.getElementById("editselectroomcheckbox").appendChild(label);
                }
            }
        }

    </script>
    <script>
        function populateDeleteRoomList(objButton)
        {

            document.getElementById("deleteselectedStatus").value = objButton.value;

            //var d=new Date();
            //document.getElementById("createdAt").value = d.getMonth()+"/"+d.getDate()+"/"+d.getFullYear()+ " "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
            //alert($("#roomlistStatus").val());
            
        }
        function EnableCreateButton()
        {
            if($("#roomlistStatus").val()>0)
            {
                
                document.getElementById("createButton").disabled =false;
            }
            else
            {
                document.getElementById("createButton").disabled =true;
            }
        }
    </script>
</body>

</html>
