﻿@model IEnumerable<SmartHotelClient.Models.employee>

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
    <script>
        var check = function () {
            if (document.getElementById('addPassword').value ==
              document.getElementById('addCnfPassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
        }
    </script>
    <script>
        function validateForm() {
            if ((document.getElementById('addPassword').value == document.getElementById('addCnfPassword').value) && document.getElementById('usernameValidator').value == 'true' )
            {
                return true;
            }
            return false;
        }

    </script>
    <script>

        function UserCheck() {
            $("#Status").html("Checking...");
            $.post("@Url.Action("checkUsernameValidate", "Client")",
        {
            username: $("#addUsername").val()
        },
        function (data) {
            if (data == 1) {
                $("#Status").html('<font color="Green">Available !. you can take it.</font><input type="hidden" id="usernameValidator" name="usernameValidator" value="true"/>');
                $("#addUsername").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">That name is taken.Try Another.</font><input type="hidden" id="usernameValidator" name="usernameValidator" value="false"/>');
                $("#addUsername").css("border-color", "Red");

            }
        });
        }
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        @Html.Partial("Header")

        @Html.Partial("SideMenu")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    All Employees
                    <table>
                        <tr>
                            <td>
                                @{
                                    if ("OWNER".Contains(Session["JobTitle"].ToString()))
                                    {
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary"><i class="fa fa-user"></i>Add New Employee</button>
                                    }
                                }
                            </td>
                            <td>&nbsp;</td>
                            <td><form action="~/Client/ExpertToExcelEmployees">
    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-files-o"></i>Export Excel</button>
</form></td>
                        </tr>
                    </table>
                    
                    <!--  <small>Control panel</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Employees</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">

                                <div class="box-tools">

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table id="employeeTable" class="table table-hover">
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Job title</th>
                                        <th>Username</th>
                                        <th>Actions</th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td><span 
                                                      @{ if (item.JobTitle.Equals("FRONTDESK"))
                                                          {
                                                      @:class="label label-info"
                                                      }
                                                          else if (item.JobTitle.Equals("HEAD HOUSEKEEPER"))
                                                          {

                                                      @:class="label label-success"
                                                      }
                                                          else if (item.JobTitle.Equals("MAINTENANCE PERSON"))
                                                          {
                                                      @:class="label label-warning"
                                                      }
                                                          else if (item.JobTitle.Equals("LAUNDRY PERSON"))
                                                          {
                                                      @:class="label label-danger"
                                                      }
                                                          else if (item.JobTitle.Equals("HOUSEKEEPER"))
                                                          {
                                                      @:class="label label-primary"
                                                      }
                                                          else if (item.JobTitle.Equals("MANAGER"))
                                                          {
                                                      @:class="label label-default"
                                                      }
                                                          else
                                                          {
                                                      @:class="label label-default"
                                                      }
                                                          }
                                                      >
                                                @Html.DisplayFor(modelItem => item.JobTitle)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Username)</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning" value=@item.EmployeeID>Edit</button>
                                                    @{
                                                        if (item.IsActive.Equals("Active"))
                                                        {
                                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success" value=@item.EmployeeID>Deactivate</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success-Activate" value=@item.EmployeeID>Activate</button>
                                                        }
                                                        if ("OWNER".Contains(Session["JobTitle"].ToString()))
                                                        {
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"  value=@item.EmployeeID>Delete</button>
                                                            }
                                                        }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
        </div>
    </div>
    </section>




    </div>
    <!-- /.content-wrapper -->
    @Html.Partial("Footer")
        

    <div class="modal modal-primary fade" id="modal-primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/AddEmployee" name="addEmployee" method="post" onsubmit="return validateForm()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Add New Employee</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="addEmployeeID" name="addEmployeeID" />
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="addName" name="addName" placeholder="Enter Employee Name " required>

                        <label for="exampleInputEmail1">Phone</label>
                        <input type="tel" class="form-control" id="addPhone" name="addPhone" placeholder="Enter Employee Phone number" required pattern="[0-9]{10}" title="Phone number must be 10 digit number">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="addEmail" name="addEmail" placeholder="Enter Employee Email address" required>
                        <div class="form-group">
                            <label>Select Job Title</label>
                            <select class="form-control" id="addJobTitle" name="addJobTitle" required>
                                @{
                                    foreach (var item in ViewBag.JobTitles)
                                    {
                                        <option>@item.JobTitle1</option>
                                    }
                                }
                            </select>
                        </div>
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="addUsername" name="addUsername" placeholder="Enter Username" required onchange="UserCheck()">
                        <p id="Status"></p>
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" class="form-control" id="addPassword" name="addPassword" placeholder="Enter Password" onkeyup="check();" required>
                        <label for="exampleInputEmail1">Confirm Password</label>
                        <input type="password" class="form-control" id="addCnfPassword" name="addCnfPassword" placeholder="Confirm Password" onkeyup="check();" required><span id='message'></span>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save</button>
                    </div>
                </form>
                </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-warning fade" id="modal-warning">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Client/EditEmployee" name="editEmployee" method="post" onsubmit="return editvalidateForm()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit Employee</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="editEmployeeID" name="editEmployeeID"/>
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="editName" name="editName" placeholder="Enter Employee Name " required>

                        <label for="exampleInputEmail1">Phone</label>
                        <input type="tel" class="form-control" id="editPhone" name="editPhone" placeholder="Enter Employee Phone number" required>
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="editEmail" placeholder="Enter Employee Email address">
                        <div class="form-group">
                            <label>Select Job Title</label>
                            <select class="form-control" id="editJobTitle" name="editJobTitle">
                                @{
                                    foreach (var item in ViewBag.JobTitles)
                                    {
                                        <option>@item.JobTitle1</option>
                                    }
                                }
                            </select>
                        </div>
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="editUsername" name="editUsername" placeholder="Enter Username" required onchange="editUserCheck()">
                        <p id="editStatus"></p>
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" class="form-control" id="editPassword" name="editPassword" placeholder="Enter Password" onkeyup="editcheck();" required>
                        <label for="exampleInputEmail1">Confirm Password</label>
                        <input type="password" class="form-control" id="editCnfPassword" name="editCnfPassword" placeholder="Confirm Password" onkeyup="editcheck();" required><span id='editmessage'></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline" >Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <form  action="/Client/DeleteEmployee" name="deleteEmployee" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Delete</h4>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="deleteEmployeeID" name="deleteEmployeeID" />
                        <p>Are you sure you want to delete it ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Delete Employee</button>
                    </div>
                </div>
            </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
     <div class="modal modal-success fade" id="modal-success">
        <div class="modal-dialog">
            <form action="/Client/DeactivateEmployee" name="deleteEmployee" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Deactivate</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="deactivateEmployeeID" name="deactivateEmployeeID" />
                        <p>Are you sure you want to deactivate this employee ?</p>
                        <p>Note : Employee will not be able to login.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save changes</button>
                    </div>
                </div>
                </form>
                <!-- /.modal-content -->
</div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-success fade" id="modal-success-Activate">
        <div class="modal-dialog">
            <form action="/Client/ActivateEmployee" name="deleteEmployee" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Activate</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="activateEmployeeID" name="activateEmployeeID" />
                        <p>Are you sure you want to activate this employee ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline">Save changes</button>
                    </div>
                </div>
                </form>
                <!-- /.modal-content -->
</div>
        <!-- /.modal-dialog -->
    </div>
    
    @Html.Partial("RightSideBar")
    
    <!-- ./wrapper -->
    <script>
        $(function () {
            $("button").click(function () {
                var fired_button_text = $(this).text();
                var fired_button_value = $(this).val();
                if (fired_button_text == 'Edit') {
                   
                    
                    var uploadedList = @Html.Raw(Json.Encode(Model));
                    for (var i = 0; i < uploadedList.length; i++) {
                        if(uploadedList[i].EmployeeID==fired_button_value)
                        {
                            $("#editEmployeeID").val(uploadedList[i].EmployeeID);
                            $("#editName").val(uploadedList[i].Name);
                            $("#editEmail").val(uploadedList[i].Email);
                            $("#editPhone").val(uploadedList[i].Phone);
                            $("#editJobTitle").val(uploadedList[i].JobTitle);
                            $("#editUsername").val(uploadedList[i].Username);
                            $("#editPassword").val(uploadedList[i].Password);
                            $("#editCnfPassword").val(uploadedList[i].Password);
                            break;
                        }
                    }
                }
                else if(fired_button_text == 'Delete'){
                    $("#deleteEmployeeID").val(fired_button_value);
                }
                else if(fired_button_text == 'Deactivate'){
                    $("#deactivateEmployeeID").val(fired_button_value);
                }
                else if(fired_button_text == 'Activate'){
                    $("#activateEmployeeID").val(fired_button_value);
                }
                
            });
        });
        
    </script>
    <script>
        var editcheck = function () {
            if (document.getElementById('editPassword').value ==
              document.getElementById('editCnfPassword').value) {
                document.getElementById('editmessage').style.color = 'green';
                document.getElementById('editmessage').innerHTML = 'matching';
            } else {
                document.getElementById('editmessage').style.color = 'red';
                document.getElementById('editmessage').innerHTML = 'not matching';
            }
        }
    </script>
    <script>
        function editvalidateForm() {
            if ((document.getElementById('editPassword').value == document.getElementById('editCnfPassword').value) && document.getElementById('editusernameValidator').value == 'true' )
            {
                return true;
            }
            return false;
        }

    </script>
    <script>

        function editUserCheck() {
            $("#editStatus").html("Checking...");
            $.post("@Url.Action("checkUsernameValidateForEdit", "Client")",
        {
            username: $("#editUsername").val(),
            id:$("#editEmployeeID").val()
        },
        function (data) {
            if (data == 1) {
                $("#editStatus").html('<font color="Green">Available !. you can take it.</font><input type="hidden" id="editusernameValidator" name="editusernameValidator" value="true"/>');
                $("#editUsername").css("border-color", "Green");

            }
            else {
                $("#editStatus").html('<font color="Red">That name is taken.Try Another.</font><input type="hidden" id="editusernameValidator" name="editusernameValidator" value="false"/>');
                $("#editUsername").css("border-color", "Red");

            }
        });
        }
    </script>

</body>
</html>
