﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Header")

        @Html.Partial("SideMenu")

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            <br />
            <br />
            <center>
                <h2>@ViewData["Message"]</h2>
            </center>
        </div>

        <!-- /.content-wrapper -->
        @Html.Partial("Footer")

        @Html.Partial("RightSideBar")

    </div>

</body>
</html>
