﻿<!DOCTYPE html>
<html>
<head>
  
    @Html.Partial("IncludeLink")

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @Html.Partial("Header")
    @Html.Partial("SideMenu")

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Frequently Asked Questions
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FAQs</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: black">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to create Room list?
                </h1>
                <h4>
                   Go to Housekeeping > Create Room List > Drag & Select Room series > select Room Status > Click Create 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #00a65a">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to assign rooms to Housekeeper?
                </h1>
                <h4 >
                  Go to Housekeeping > AssignToHK > Drag & Select Room series > select Housekeeper > Click Assign Rooms 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;;color: #dd4b39">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to assign room to Head Housekeeper?
                </h1>
                <h4 >
                  Go to Housekeeping > AssignToHeadHK > Drag & Select Room series > select Head Housekeeper > Click Assign Rooms 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;;color: #00c0ef">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to create and assign task to Laundry Person?
                </h1>
                <h4 >
                  Go to Housekeeping > Laundry > Type Custom tasks  > select Laundry Person > Click Create 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #f39c12">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to add Maintenance task?
                </h1>
                <h4>
                  Go to Housekeeping > Maintenance > Click Add New MaintenanceRequest > Fill out form and Click Save changes 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: black">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                  How to add room Alert?
                  </h1>
                  <h4>
                    Go to Housekeeping > Alerts > Click Add New Alert Request > Fill out form and Click Save changes 
                   </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #00a65a">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                  How to add Lost & Found request?
                  </h1>
                  <h4>
                    Go to Housekeeping > Lost & Found > Click Add New Lost & Found Request > Fill out form and Click Save changes 
                   </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #dd4b39">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to do Inspection of room?
                </h1>
                <h4 >
                   Inspection will be done from mobile app and you can see by going to Housekeeping > Inspection
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;;color: #00c0ef">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to send message to any employee?
                </h1>
                <h4 >
                  Go to Employee Message > Click on type message box > Send
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #f39c12">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to add Guest?
                </h1>
                <h4>
                  Go to Guest > Guest Message > Click Add New Guest > Fill out form and Click Save 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: black">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                  How to Send Message to guest?
                  </h1>
                  <h4>
                    Go to Guest > Guest Message > Click on name > type message in message box > SEND
                   </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #00a65a">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to view guest requests?
                </h1>
                <h4 >
                  Go to Guest > Guest Message > Click on name > View requests in Message Box
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;;color: #dd4b39">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to add Hotel Amenties for guest App?
                </h1>
                <h4 >
                  Go to Guest > Amenties > type one Amenties > click Create
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;;color: #00c0ef">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to see employee time cards?
                </h1>
                <h4 >
                  Go to Time Card > Laundry > see all time cards 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #f39c12">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to create employee schedules?
                </h1>
                <h4>
                  Go to Schedules > Drag & Drop employee into particular date > click on it if you would like to set particular time > Click Send email after you add everyone if you would like to send schedule in email 
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: black">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to Approve / Reject TimeOff Requests?
                </h1>
                <h4>
                   Go to Time Off requests > Click Approve / Reject > Add Note if you like > Save
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="background: white;color: #00a65a">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                How to add employee?
                </h1>
                <h4 >
                  Go to Employees > Click Add new employee > Fill out Form  > Click Save
                 </h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
     </div>
    </section>
      
     

  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

  <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
</div>
<!-- ./wrapper -->


<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
</body>
</html>
