﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>
        Copyright &copy; 2018
        <a href="http://bsmarthotel.com/">BSmart Software Inc.</a>.
    </strong> All rights reserved.<a href="http://bsmartstaff.com/content/Privacy Policy from RL.pdf" target="_blank"> Privacy Policy</a>
</footer>
