﻿@model SmartHotelDataAccessLayer.guestbusiness
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BSmartHotel | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Content/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Content/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Content/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <script src="~/Content/initial.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        @Html.Partial("Header")

        @{Html.RenderPartial("SideMenu");}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Guest Messages
                    <!--  <small>Control panel</small> -->

                    <button type="button" class="btn btn-primary" id="btnAll" onclick="@("window.location.href='" + @Url.Action("GuestList", "Client")+ "'");">Back To GuestList</button>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Message</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- DIRECT CHAT PRIMARY -->
                        <div class="box box-primary direct-chat direct-chat-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">@Model.guest.Name</h3>

                                <div class="box-tools pull-right">
                                    <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue"></span>
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                        <i class="fa fa-comments"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <!-- Conversations are loaded here -->
                                <div class="direct-chat-messages" id="ChatWindow">
                                    
                                </div>
                                <!--/.direct-chat-messages-->
                                <!-- Contacts are loaded here -->
                                <div class="direct-chat-contacts">
                                    <ul class="contacts-list">
                                        <li>
                                            <a href="#">
                                                <img class="contacts-list-img" src="dist/img/user1-128x128.jpg" alt="User Image">

                                                <div class="contacts-list-info">
                                                    <span class="contacts-list-name">
                                                        Count Dracula
                                                        <small class="contacts-list-date pull-right">2/28/2015</small>
                                                    </span>
                                                    <span class="contacts-list-msg">How have you been? I was...</span>
                                                </div>
                                                <!-- /.contacts-list-info -->
                                            </a>
                                        </li>
                                        <!-- End Contact Item -->
                                    </ul>
                                    <!-- /.contatcts-list -->
                                </div>
                                <!-- /.direct-chat-pane -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <form id="sendMessageForm" name="sendMessageForm" method="post">
                                    <div class="input-group">
                                        <input type="text" name="msgText" id="msgText" placeholder="Type Message ..." class="form-control" required>
                                        <span class="input-group-btn">
                                            <button type="button" onclick="sendGuestMessage(@Model.GuestBusinessID)" class="btn btn-primary btn-flat">Send</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-footer-->
                        </div>
                        <!--/.direct-chat -->
                    </div>
                    <!-- /.col -->
                </div>




            </section>
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("Footer")
            

        <!-- Control Sidebar -->

    </div>
    <!-- ./wrapper -->

    <script>
function getAllGuestmessage() {
                            $.post("@Url.Action("getAllGuestmessage", "Client")",
                        {
                            id:"@Model.GuestBusinessID"
                        },
    function (data) {
        //clearAllChatWindow();
        //var t1 = document.getElementById("ChatWindow+" + data.data[0].MessageSentBy);
        var divid = document.getElementById("ChatWindow");
        divid.innerHTML=""
        for (var i = 0; i < data.data.length; i++) {

            var msgtype = data.data[i].messageTtype;

            if (msgtype == 'to')
            {
                pupulatemessage(1, divid, data.data[i].messageText, data.data[i].CreatedAt, data.data[i].MessageSentBy, data.data[i].MessageSentByImage)

            }
            else
            {
                pupulatemessage(2, divid, data.data[i].messageText, data.data[i].CreatedAt, data.data[i].MessageSentBy, data.data[i].MessageSentByImage)

            }
        }
    });
    }

    </script>
    <script>
        function pupulatemessage(a, divid, messageText, CreatedAt, MessageSentBy, Image) {
            //console.log(getInitials(MessageSentBy));
            var div = document.createElement('div');
            
            if (a ==1) {
                
                div.innerHTML += '<div class="direct-chat-msg right">' +
                        '<div class="direct-chat-info clearfix">' +
                          '<span class="direct-chat-name pull-right">' + "@Session["EmployeeName"]  (Frontdesk)" + '</span>' +
                         ' <span class="direct-chat-timestamp pull-left">' + CreatedAt + '</span>' +
                        '</div>' +
                        '<img class="direct-chat-img" src="@Session["ImagePath"]">'+
                        '<div class="direct-chat-text">' +
                        messageText +
                       ' </div>' +
                      '</div>' +
                    '</div>';
            }
            else
            {

                div.innerHTML += '<div class="direct-chat-info clearfix">' +
                      '<span class="direct-chat-name pull-left">' + MessageSentBy + ' (Guest)</span>' +
                      '<span class="direct-chat-timestamp pull-right">' + CreatedAt + '</span>' +
                  '  </div>' +
                   '<img class="direct-chat-img" src="' + Image + '">' +
                    '<div class="direct-chat-text">' +
                      messageText
                '</div>' +
              '</div>';
            }
            
            divid.appendChild(div);
            divid.scrollTop = divid.scrollHeight;
            //$('.profile').initial({height:35,width:35,fontSize:27});

            //document.getElementById(divid).scrollTop(document.getElementById(divid).outerHeight());
        }
    </script>


    <script>
        function sendGuestMessage(a) {
            if (document.getElementById('sendMessageForm').checkValidity() == true) {
                var msgText = document.getElementById('msgText').value;
                var d = new Date();
                var date = d.getDate();
                var month = (d.getMonth() + 1);
                if (month < 10) {
                    month = "0" + (d.getMonth() + 1);
                }
                if (date < 10) {
                    date = "0" + d.getDate();
                }
                var hh = d.getHours();
                hh = hh > 9 ? hh : '0' + hh;
                var mm = d.getMinutes();
                mm = mm > 9 ? mm : '0' + mm;
                var ss = d.getSeconds();
                ss = ss > 9 ? ss : '0' + ss;
                var dateString = month + "/" + date + "/" + d.getFullYear() + " " + hh + ":" + mm + ":" + ss;
                if (a != "") {
                    $.post("@Url.Action("addGuestMessage", "Client")",
                {
                    sendId: a,
                    msgText: msgText,
                    msgTime: dateString
                },
                function (data) {
                    if (data == 1) {
                        var msgText = document.getElementById('msgText').value = "";
                        document.getElementById('sendMessageForm').reset();
                        //retriveallMessages();
                    }
                });
                }
            }
            else {
                document.getElementById('sendMessageForm').reportValidity();
            }

        }
    </script>

    <script>
        $(document).ready(function(){
            getAllGuestmessage();
            //getUnreadCount();
        });
        setInterval(function () {
            getAllGuestmessage();
            //getUnreadCount();
        }, 2000);
    </script>
</body>

</html>
