﻿<!DOCTYPE html>
<html>
<head>
  
    @Html.Partial("IncludeLink")

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

        
        @Html.Partial("Header")

        @Html.Partial("SideMenu")

      

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Guest List 
       <!--  <small>Control panel</small> -->
          
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Guest List</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <table>
                    <tr>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGuest"><i class="fa fa-user"></i>Add New Guest</button></td>
                        <td>&nbsp;</td>
                        <td><form action="~/Client/ExpertToExcelGuestList">
    <button type="submit" class="btn btn-primary"><i class="fa fa-files-o"></i>Export Excel</button>
</form></td>
                    </tr>
                </table>
                
                
              <div class="box-tools">
                   
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Room#</th>
                    <th>Guest Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Stay Date</th>
                    <th>Notes</th>
                    <th>Added By</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                 
                  </tbody>
                 
                </table>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    
        @Html.Partial("RightSideBar")
  <div class="modal modal-primary fade" id="addGuest">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add New Guest</h4>
        </div>
          <form id="addGuestForm" name="addGuestForm">
              <div class="modal-body">
                  <label>Select Room Number</label>
                  @Html.DropDownList("addselectionRoomIdID", new SelectList(ViewBag.AllRooms, "RoomID", "RoomNumber"), "Select Room Number", new { @class = "form-control", id = "addselectionRoomIdID", required = "required" })


                  
                  <label for="exampleInputEmail1">Phone</label>
                  <input type="tel" class="form-control" id="guestPhone" onchange="CheckGuestPresent()" placeholder="Enter Guest Phone number" pattern="[0-9]{10}" title="Phone number must be 10 digit number" required>
                  
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" id="guestName" placeholder="Enter Guest Name" required>

                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="guestEmail" placeholder="Enter Guest Email" required>
                  <label for="exampleInputEmail1">Check-in Date</label>
                  <input type="date" class="form-control" id="guestStayDateStart" placeholder="Enter Start Date of Stay" required>
                  <label for="exampleInputEmail1">Check-out Date</label>
                  <input type="date" class="form-control" id="guestStayDateEnd" placeholder="Enter End Date of Stay" required>
                  <label for="exampleInputEmail1">Note</label>
                  <input type="text" class="form-control" id="guestNote" placeholder="Enter Note">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="closeAdd">Close</button>
                  <button type="button" class="btn btn-outline" onclick="addGuest()">Save</button>
              </div>
          </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal modal-warning fade" id="editGuest">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Guest</h4>
        </div>
          <form id="editGuestForm">
              <input type="hidden" id="editGuestId" />
              <input type="hidden" id="editGuestBusinessId" />
              <div class="modal-body">
                  <label>Select Room Number</label>
                  @Html.DropDownList("editselectionRoomIdID", new SelectList(ViewBag.AllRooms, "RoomID", "RoomNumber"), "Select Room Number", new { @class = "form-control", id = "editselectionRoomIdID", required = "required" })


                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" id="editguestName" placeholder="Enter Guest Name" required>
                  <label for="exampleInputEmail1">Phone</label>
                  <input type="tel" class="form-control" id="editguestPhone" placeholder="Enter Guest Phone number" pattern="[0-9]{10}" title="Phone number must be 10 digit number" required>
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="editguestEmail" placeholder="Enter Guest Email">
                  <label for="exampleInputEmail1">Check-in Date</label>
                  <input type="date" class="form-control" id="editguestStayDateStart" placeholder="Enter Start Date of Stay" required>
                  <label for="exampleInputEmail1">Check-out Date</label>
                  <input type="date" class="form-control" id="editguestStayDateEnd" placeholder="Enter End Date of Stay" required>
                  <label for="exampleInputEmail1">Note</label>
                  <input type="text" class="form-control" id="editguestNote" placeholder="Enter Note">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="editcloseguest">Close</button>
                  <button type="button" class="btn btn-outline" onclick="editGuest()">Save changes</button>
              </div>
          </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal modal-danger fade" id="deleteGuest">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
              <input type="hidden" id="deleteGuestId" />
              <input type="hidden" id="deleteGuestBusinessId" />
            <h4 class="modal-title">Delete</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete Guest ? </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="detetecloseguest">Close</button>
            <button type="button" class="btn btn-outline" onclick="deleteGuest()">Delete</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
</div>
  
</div>
<!-- ./wrapper -->

    <script>
           $(function () {
               $('#example1').DataTable({
                   "order": [],
                   "ajax": 'getAllGuestAjax/',
                   "columns": [
                       { 
                           "data": null,
                           "render": function (data, type, full) {
                   var ab = "";
                   if (full['UnreadCount'] >0) {
                       var ab=`<div class="btn-group">`+
                                    `<a href="\GuestMessages\\`+full['GuestBusinessID'] +`"><img  height="30px" width="30px" src="@Url.Content("~/Content/img/messageIcon.png")" /></a>
                                </div>`;
                   }
                               return full['RoomNumber'] + '<span class="pull-right">' + ab + '</span>';

               }
                       
                       },
             { "data": "Name",
                   "render": function (data, type, full) {
                       return `<a href="\GuestMessages\\`+full['GuestBusinessID'] +`">`+full['Name']+`</a>`;

                   }
             },
                 { "data": "phone" },
                 { "data": "Email" },
                  //{
                  //    "data": "UnreadCount",
                  //    "render": function (data, type, full) {
                  //        return `<a href="\GuestMessages\\`+full['GuestBusinessID'] +`">`+full['UnreadCount']+`</a>`;

                  //    }
                  //},
                 {
                     "data": null,
                     "render": function (data, type, full) {
                         return full['StayDateStart'] + ' - ' + full['StayDateEnd'];

                     }
                 },
                  { "data": "Note" },
                   { "data": "AddedBy" },
             {
                 "targets": 4,
                 "data": "GuestBusinessID",
             "width": "25%",
                 "render": function (data, type, row, meta) {
                     var btn="";
                     if(row["isActive"]=='Active')
                     {
                         btn=`<button type="button" class ="btn btn-success" data-toggle="modal" data-target="#deactivateGuest" value= ` + data + ` onclick="DeactivateGuest(`+data+`)" >Deactivate</button>`;
                     }
                     else
                     {
                         btn=`<button type="button" class ="btn btn-success" data-toggle="modal" data-target="#activateGuest" value= ` + data + ` onclick="ActivateGuest(`+data+`)" >Activate</button>`;
                     }
                     return `<div class="btn-group">
                                    <button type="button" class ="btn btn-info" data-toggle="modal" data-target="#editGuest" value= ` + data + ` >Edit</button>`+
                         btn
                                    +`<button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#deleteGuest" value= ` + data + ` >Delete</button>
                                </div>`
                     ;
                 }
             }
                   ],
                   "aaSorting": [[ 4, "desc" ]]
               });
           });
    setInterval(function () {
        var session = @Session["BusinessID"] != null;
        if (session == false) {
            window.location = "/Client/Login";
        }
        else {
            $('#example1').DataTable().ajax.reload(null,false);
            
            
        }
           }, 2000);
           $('#example1 tbody').on('click', 'button', function () {

               var data = $('#example1').DataTable().row($(this).parents('tr')).data();
               $("#deleteGuestId").val(data["GuestID"]);
               $("#deleteGuestBusinessId").val(data["GuestBusinessID"]);
               $("#editGuestBusinessId").val(data["GuestBusinessID"]);
               $("#editGuestId").val(data["GuestID"]);
               $("#editselectionRoomIdID").val(data["RoomId"]);
               $("#editguestName").val(data["Name"]);
               $("#editguestPhone").val(data["phone"]);
               $("#editguestEmail").val(data["Email"]);
               var st=new Date(data["StayDateStart"]);
               document.getElementById("editguestStayDateStart").value=st.getFullYear()+"-"+("0" + (st.getMonth() + 1)).slice(-2)+"-"+("0" + st.getDate()).slice(-2);
               
               var ed=new Date(data["StayDateEnd"]);
               $("#editguestStayDateEnd").val(ed.getFullYear()+"-"+("0" + (ed.getMonth() + 1)).slice(-2)+"-"+("0" + ed.getDate()).slice(-2));
               $("#editguestNote").val(data["Note"]);
           });

    </script>

    <script>
        function addGuest() {
            if ($("#addGuestForm")[0].checkValidity())
            {
                var date = new Date($("#guestStayDateStart").val());
                var month = (1 + date.getMonth()).toString();
                month = month.length > 1 ? month : '0' + month;

                var day = (date.getDate()+1).toString();
                day = day.length > 1 ? day : '0' + day;
                var stdatestart = month + "-" + day + "-" + date.getFullYear();
                var date = new Date($("#guestStayDateEnd").val());
                var month = (1 + date.getMonth()).toString();
                month = month.length > 1 ? month : '0' + month;

                var day = (date.getDate()+1).toString();
                day = day.length > 1 ? day : '0' + day;
                var stdateend = month + "-" + day + "-" + date.getFullYear()+ " 12:00:00";

                var d = new Date();
                var datetext = d.toTimeString();
                datetext = datetext.split(' ')[0];
                stdatestart = stdatestart + " " + datetext;
                
                $.post("/Client/AddGuestAjaxA",
            {
                id:$("#addselectionRoomIdID").val().toString(),
                name: $("#guestName").val().toString(),
                phone: $("#guestPhone").val().toString(),
                email: $("#guestEmail").val().toString(),
                startDate: stdatestart.toString(),
                endDate: stdateend.toString(),
                note: $("#guestNote").val().toString()
            },
            function (data) {
                if (data == 1) {
                    //alert("Guest added Successfully");
                    $("#closeAdd").click();
                    $("#addGuestForm")[0].reset();
                }
                else if (data == 2) {
                    //alert("Guest added Successfully but unable to send text message to guest");
                    $("#closeAdd").click();
                    $("#addGuestForm")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#addGuestForm")[0].reportValidity();
            }
    }
    </script>

    <script>
        function editGuest() {
            if($("#editGuestForm")[0].checkValidity())
            {
                $.post("@Url.Action("editGuestAjax", "Client")",
            {
                id: $("#editGuestId").val(),
                bid:$("#editGuestBusinessId").val(),
                roomid: $("#editselectionRoomIdID").val(),
                name: $("#editguestName").val(),
                phone: $("#editguestPhone").val(),
                email: $("#editguestEmail").val(),
                startdate: $("#editguestStayDateStart").val(),
                enddate: $("#editguestStayDateEnd").val(),
                note: $("#editguestNote").val()
            },
            function (data) {
                if (data == 1) {
                    //alert("Guest edited Successfully");
                    $("#editcloseguest").click();
                    $("#editGuestForm")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#editGuestForm")[0].reportValidity();
            }
    }
    </script>
    <script>
        function deleteGuest() {

            $.post("@Url.Action("deleteGuest", "Client")",
        {
            id: $("#deleteGuestId").val(),
            bid:$("#deleteGuestBusinessId").val()
        },
        function (data) {
            if (data == 1) {
                //alert("Guest deleted Successfully");
                $("#detetecloseguest").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
    <script>
        function DeactivateGuest(a) {

            $.post("@Url.Action("ActivateDeactivateGuest", "Client")",
        {
            id: a,
            action:'deactivate'
        },
        function (data) {
            if (data == 1) {
                //alert("Guest deleted Successfully");
                //$("#detetecloseguest").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
    <script>
        function ActivateGuest(a) {

            $.post("@Url.Action("ActivateDeactivateGuest", "Client")",
        {
            id: a,
            action:'activate'
        },
        function (data) {
            if (data == 1) {
                //alert("Guest deleted Successfully");
               // $("#detetecloseguest").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
    <script>
        function CheckGuestPresent() {

            $.post("@Url.Action("getExistingGuestDetails", "Client")",
        {
            phone: $("#guestPhone").val()
        },
        function (data) {
            if (data != null) {
                //alert("Guest deleted Successfully");
                $("#guestEmail").val(data.data['Email']);
                $("#guestName").val(data.data['Name']);
            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
</body>
</html>
