﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Header")

        @Html.Partial("SideMenu")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Amenties Information
                    <!--  <small>Control panel</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Amenties</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        
                        <div class="box">
                            <div class="box-header">
                                <div class="row margin">
                                    <form name="addLaundryForm" id="addLaundryForm">
                                        <p>Enter Amenties Name</p>
                                        <div class="col-sm-4">
                                            <input type="text" id="description" name="description" class="form-control" required/>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-primary" id="createButton" onclick="addLaundry()">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Amenties Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>




        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("Footer")
            


        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Delete amenity </h4>
                    </div>
                    <form>
                        <input type="hidden" id="deleteLaundryID" />
                        <div class="modal-body">
                            <p>Are you sure you want to delete this amenity ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelDelete">Close</button>
                            <button type="button" class="btn btn-outline" onclick="deleteLaundryList()">Delete</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Control Sidebar -->
        <!-- ./wrapper -->
        <div class="modal modal-warning fade" id="modal-success">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit amenity </h4>
                    </div>
                    <form name="editLaundryForm" id="editLaundryForm">
                        <input type="hidden" id="editLaundryID" />
                        <div class="modal-body">
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <label>Desription</label>
                                    <input type="text" id="editDescription" class="form-control" required/>
                                    
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="editcancel">Close</button>
                            <button type="button" class="btn btn-outline" onclick="editLaundryList()">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
        <script>
        $(function () {
            $('#example1').DataTable({
                "ajax": 'getAllAmenties/',
                "columns": [
                    { "data": "Description" },
          {
              "targets": 4,
              "data": "AmentiesID",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                                    <button type="button" class ="btn btn-info" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Edit</button>
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                                </div>`
                  ;
              }
          }
                ]
            });
            $('#example1').DataTable().ajax.reload(null, false);
        });
        @*setInterval(function () {
            var session = @Session["BusinessID"] != null;
            if (session == false) {
                window.location = "/Client/Login";
            }
            else {
                $('#example1').DataTable().ajax.reload(null,false);
            }
        }, 2000);*@
        $('#example1 tbody').on('click', 'button', function () {

            var data = $('#example1').DataTable().row($(this).parents('tr')).data();
            $("#editLaundryID").val(data["AmentiesID"]);
            $("#editDescription").val(data["Description"]);
            $("#deleteLaundryID").val(data["AmentiesID"]);

            //console.log($("#editClockoutTime").val());
        });
        </script>
        <script>
            function addLaundry() {
                if($("#addLaundryForm")[0].checkValidity())
                {
                    $.post("@Url.Action("AddAmenties", "Client")",
                {
                    description: $("#description").val()
                },
                function (data) {
                    if (data == 1) {
                        $("#addLaundryForm")[0].reset();
                        $('#example1').DataTable().ajax.reload(null, false);
                    }
                    else{
                        //alert("Something went wrong please try again ! ");

                    }
                });
                }
                else
                {
                    $("#addLaundryForm")[0].reportValidity();
                }
    }
        </script>
        <script>
            function editLaundryList() {
                if($("#editLaundryForm")[0].checkValidity())
                {
                    $.post("@Url.Action("editAmenties", "Client")",
                {
                    id: $("#editLaundryID").val(),
                    description: $("#editDescription").val()
                },
                function (data) {
                    if (data == 1) {
                        $("#editcancel").click();
                        $("#editLaundryForm")[0].reset();
                        $('#example1').DataTable().ajax.reload(null, false);
                    }
                    else{
                        //alert("Something went wrong please try again ! ");

                    }
                });
                }
                else
                {
                    $("#editLaundryForm")[0].reportValidity();
                }
    }
        </script>
        <script>
        function deleteLaundryList() {

            $.post("@Url.Action("deleteAmenties", "Client")",
        {
            id: $("#deleteLaundryID").val(),

        },
        function (data) {
            if (data == 1) {
                $("#cancelDelete").click();
                $('#example1').DataTable().ajax.reload(null, false);
            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
        </script>
</body>
</html>
