﻿<header class="main-header">
    <!-- Logo -->
    <a href="/Client/index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>S</b>H
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <b>BSmart</b>Hotel
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <div class="col-lg-3">

            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </div>
        <div class="col-lg-6">
            <center>
                <h4>
                    <p class="align-middle" style="color:#ffffff">
                        <b>@Session["BusinessName"]</b> ,
                        @Session["City"]
                    </p>
                </h4>
            </center>
            
        </div>
        <div class="col-lg-3">

            <div class="navbar-custom-menu">

                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @{
                                if (Session["ImagePath"] == null || Session["ImagePath"] == "")
                                {
                                    <img data-name="@Session["EmployeeName"]" class="profile1 user-image" />
                                }
                                else
                                {
                                    <img src="@Session["ImagePath"]" class="user-image" alt="User Image">
                                }
                            }

                            <span class="hidden-xs">@Session["EmployeeName"]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                @{
                                    if (Session["ImagePath"] == null || Session["ImagePath"] == "")
                                    {
                                        <img data-name="@Session["EmployeeName"]" class="profile2 img-circle" />
                                    }
                                    else
                                    {
                                        <img src="@Session["ImagePath"]" class="img-circle" alt="User Image">
                                    }
                                }


                                <p>
                                    @Session["EmployeeName"] - @Session["JobTitle"]
                                    <small>Employed since @Session["EmployeeSince"]</small>
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">

                                    <button type="button" data-toggle="modal" class="btn btn-default btn-flat" data-target="#editProfileModel" value=@Session["EmployeeId"]>Profile</button>

                                    <button type="button" data-toggle="modal" class="btn btn-default btn-flat" data-target="#editPasswordModel" value=@Session["EmployeeId"]>Edit Password</button>
                                </div>
                                <div class="pull-right">
                                    <a href="~/Client/Logout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="modal modal-warning fade" id="editPasswordModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form  name="editPasswordForm" id="editPasswordForm" method="post" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    
                    <label for="exampleInputEmail1">Old Password</label>
                    <input type="password" class="form-control" id="editProfileoldPassword" name="editProfileoldPassword" placeholder="Enter Old Password" required onkeyup="editOldPasswordCheck()">
                    <p id="editProfileStatus"><input type="hidden" id="editProfileusernameValidator" name="editProfileusernameValidator" value="false" /></p>
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" id="editProfilePassword" name="editProfilePassword" placeholder="Enter Password"  onkeyup="editProfilecheck();" required>
                    <label for="exampleInputEmail1">Confirm Password</label>
                    <input type="password" class="form-control" id="editProfileCnfPassword" name="editProfileCnfPassword" placeholder="Confirm Password" onkeyup="editProfilecheck();" required><span id='editProfilemessage'></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="closePassword">Close</button>
                    <button type="button" class="btn btn-outline" onclick="editPassword()">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal modal-warning fade" id="editProfileModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/Client/EditEmployee" name="editProfile" id="editProfile" method="post" onsubmit="return editProfilevalidateForm()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Profile</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="editProfileID" name="editProfileID" />
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="editProfileName" name="editProfileName" placeholder="Enter Employee Name " value="@Session["EmployeeName"]" required>

                    <label for="exampleInputEmail1">Phone</label>
                    <input type="tel" class="form-control" id="editProfilePhone" name="editProfilePhone" placeholder="Enter Employee Phone number" value="@Session["Phone"]" required>
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="editProfileEmail" name="editProfileEmail" placeholder="Enter Employee Email address" value="@Session["Email"]">

                    @*<label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="editProfileUsername" name="editProfileUsername" placeholder="Enter Username" value="@Session["Username"]" required onchange="editProfileUserCheck()">
                    <p id="editProfileStatus"><input type="hidden" id="editProfileusernameValidator" name="editProfileusernameValidator" value="true" /></p>
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" id="editProfilePassword" name="editProfilePassword" placeholder="Enter Password" value="@Session["Password"]" onkeyup="editProfilecheck();" required>
                    <label for="exampleInputEmail1">Confirm Password</label>
                    <input type="password" class="form-control" id="editProfileCnfPassword" name="editProfileCnfPassword" placeholder="Confirm Password" value="@Session["Password"]" onkeyup="editProfilecheck();" required><span id='editProfilemessage'></span>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="closeProfile">Close</button>
                    <button type="button" class="btn btn-outline" onclick="editProfilevalidateForm()">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        $('.profile1').initial({height:25,width:25,fontSize:18}); 
        $('.profile2').initial({height:83,width:83,fontSize:70}); 
    });
</script>
<script>
    var editProfilecheck = function () {
            if (document.getElementById('editProfilePassword').value ==
              document.getElementById('editProfileCnfPassword').value) {
                document.getElementById('editProfilemessage').style.color = 'green';
                document.getElementById('editProfilemessage').innerHTML = 'matching';
            } else {
                document.getElementById('editProfilemessage').style.color = 'red';
                document.getElementById('editProfilemessage').innerHTML = 'not matching';
            }
        }
</script>
<script>
    function editProfilevalidateForm() {
        if($("#editProfile")[0].checkValidity())
        {
            $.post("@Url.Action("editProfile", "Client")",
        {
            id: @Session["EmployeeId"],
            name: $("#editProfileName").val(),
            phone: $("#editProfilePhone").val(),
            email: $("#editProfileEmail").val(),
            username:"",// $("#editProfileUsername").val(),
            password: ""//$("#editProfilePassword").val()
        },
        function (data) {
            if (data == 1) {
                //alert("Profile edited Successfully");
                $("#closeProfile").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
        else
        {
            $("#editProfile")[0].reportValidity();
        }
        }
</script>
<script>
    function editPassword() {
        if($("#editPasswordForm")[0].checkValidity())
        {
            if ((document.getElementById('editProfilePassword').value == document.getElementById('editProfileCnfPassword').value) && "@Session["Password"]" == $("#editProfileoldPassword").val()) {
                $.post("@Url.Action("editProfile", "Client")",
            {
                id: @Session["EmployeeId"],
                name: "",
                phone: "",
                email: "",
                username: $("#editProfileUsername").val(),
                password: $("#editProfilePassword").val()
            },
            function (data) {
                if (data == 1) {
                    //alert("Psssword changed Successfully");
                    $("#editPasswordForm")[0].reset();
                    $("#editProfileStatus").html('<input type="hidden" id="editProfileusernameValidator" name="editProfileusernameValidator" value="false"/>');
                    $("#editProfilemessage").html("");
                    $("#closePassword").click();

                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
        }
        else
        {
            $("#editPasswordForm")[0].reportValidity();
        }
        }
</script>
<script>

    function editOldPasswordCheck() {
        @*$("#editProfileStatus").html("Checking...");
            $.post("@Url.Action("checkOldPassword", "Client")",
        {
            oldpassword: $("#editProfileoldPassword").val(),
            id: @Session["EmployeeId"]
        },
        function (data) {*@
        if ("@Session["Password"]" == $("#editProfileoldPassword").val()) {
                $("#editProfileStatus").html('<font color="Green">Match Old Password.</font><input type="hidden" id="editProfileusernameValidator" name="editProfileusernameValidator" value="true"/>');
                $("#editProfileUsername").css("border-color", "Green");

            }
            else {
                $("#editProfileStatus").html('<font color="Red">Wrong Old Password </font><input type="hidden" id="editProfileusernameValidator" name="editProfileusernameValidator" value="false"/>');
                $("#editProfileUsername").css("border-color", "Red");

            }
        //});
        }
</script>
@if (Session["reduestedDate"] == null || string.IsNullOrEmpty(Session["reduestedDate"].ToString()))
{

    <script type="text/javascript">

        var d = new Date();
        var date = d.getDate();
        var month = (d.getMonth() + 1);
        if (month<10)
        {
            month = "0" + (d.getMonth() + 1);
        }
        if (date < 10) {
            date = "0" + d.getDate();
        }
        var datetext = d.toTimeString();
        datetext = datetext.split(' ')[0];
        var dateString = month + "/" + date + "/" + d.getFullYear() + " " + datetext;
            $.post('/Client/SetUTC', { dateString }, function (data) { location.reload(); });
    </script>
}
<!-- Left side column. contains the logo and sidebar -->
