﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    @Html.Partial("Header")
    @Html.Partial("SideMenu")

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Need Help?
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Help</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="color: black">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                  <form name="scheduleMForm" id="scheduleMForm">
                      <h1>
                          Would you like to Schedule a meeting?
                      </h1>
                      <div>
                          <div class="form-group">
                              <label>Enter Date and time:</label>
                              <div><input type="text" value="" name="datetime" id="datetime" required /></div>
                              <label>Comment:</label>
                              <div><input type="text" value="" name="commentS" id="commentS" required /></div>
                              <!-- /.input group -->
                          </div>
                      </div>

                      <div style="margin-bottom: 20px"><button type="button" onclick="sendScheduleMail()" class="btn btn-success" data-toggle="modal" data-target="#modal-danger">Schedule Meeting</button></div>
                  </form>
                      </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="color: black">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                 Have a Question? Would you like to ask?
                </h1>
                <h4 style="margin-top: 25px"><b>
                 <p>Email for support : support@BSmarthotel.com</p>
                 <p> Email for Info : info@BSmarthotel.com</p>
                 <p> Email for Sales : sales@BSmarthotel.com</p>
                </b></h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="color: black">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <section class="content-header">
                <h1>
                Would you like to talk to someone right now?
                </h1>
                <h4 style="margin-top: 25px">
                <b> <p>Call  : +1(323) 374-5055</p>
                  <p>Text : +1(323) 643-9608</p>
                </b></h4>
              </section>
          
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
     </div>
    </section>
      
     

  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

  <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
</div>
<!-- ./wrapper -->


<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
    <script>
        function sendScheduleMail() {
            if ($("#scheduleMForm")[0].checkValidity())
                {
        $.post("@Url.Action("sendHelpMail", "Client")",
    {
        datet: $("#datetime").val(),
        comment: $("#commentS").val()
    },
    function (data) {
        if (data == 1) {
            //$("#editcancel").click();
            //alert("Alerts edited Successfully");
            $("#scheduleMForm")[0].reset();
        }
        else{
            //alert("Something went wrong please try again ! ");

        }
    });
        }
        else
        {
                $("#scheduleMForm")[0].reportValidity();
        }
        }
    </script>
</body>
</html>
