﻿<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BSmartHotel | Dashboard</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="~/Content/plugins/bootstrap-slider/slider.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
<!-- Morris chart -->
<link rel="stylesheet" href="~/Content/bower_components/morris.js/morris.css">
<!-- jvectormap -->
<link rel="stylesheet" href="~/Content/bower_components/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<link rel="stylesheet" href="~/Content/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<!-- jQuery 3 -->
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/Style/PersonalCSS.css">




<!-- Bootstrap 3.3.7 -->
<script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
<!-- bootstrap time picker -->
<script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="~/Content/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Content/dist/js/demo.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<!-- page script -->
<script src="~/Content/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script src="~/Content/initial.js"></script>
@if (Session["reduestedDate"] == null)
{
    
    <script type="text/javascript">
        
        var d = new Date();
        var date = d.getDate();
        var month = (d.getMonth() + 1);
        if (month<10)
        {
            month = "0" + (d.getMonth() + 1);
        }
        if (date < 10) {
            date = "0" + d.getDate();
        }
        var hh = d.getHours();
        hh=hh>9 ? hh : '0'+hh;
        var mm=d.getMinutes();
        mm=mm> 9 ? mm : '0'+mm;
        var ss = d.getSeconds();
        ss=ss> 9 ? ss : '0'+ss;
        var dateString = month + "/" + date + "/" + d.getFullYear() + " " + hh + ":" + mm + ":" + ss;
            $.post('/Client/SetUTC', { dateString }, function (data) { location.reload(); });
    </script>
}