﻿<!DOCTYPE html>
<html>

<head>
  @Html.Partial("IncludeLink")

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
      @Html.Partial("Header")

      @Html.Partial("SideMenu")



    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <!--  <small>Control panel</small> -->
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-dashboard"></i> Home</a>
          </li>
          <li class="active">Dashboard</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3 id="allAssignedRoomCount"></h3>

                <p>Total Assigned Rooms</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="~/Client/ViewAllRooms" class="small-box-footer">Assigned Rooms
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3 id="allCompletedRoomCount"></h3>

                <p>Total Clean Rooms</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="~/Client/ViewAllRooms" class="small-box-footer">Clean Rooms
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3 id="allEmployeeCount"></h3>

                <p>Total Employees</p>
              </div>
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <a href="~/Client/Employees" class="small-box-footer">Employees
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3 id="allAlertCount"></h3>

                <p>Housekeeping Alerts</p>
              </div>
              <div class="icon">
                <i class="fa fa-search"></i>
              </div>
              <a href="~/Client/Alerts" class="small-box-footer">Alerts
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row">
            
            <div class="col-md-9">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Who's Working Today ?</h3>
  
                  <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover" id="emptable">
                    <tr>
                      
                      <th>Employee</th>
                      <th>Job Title</th>
                      <th>Status</th>
                      
                    </tr>
                  
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- Info Boxes Style 2 -->
                <div class="info-box bg-yellow">
                    <a href="~/Client/MaintenanceRequest" style="color:white">
                        <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                    </a>
                        <div class="info-box-content">
                            <span class="info-box-text">Maintenance Requests</span>
                            <span class="info-box-number" id="allMaintenanceCount"></span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>
                            <span class="progress-description" id="allMaintenanceCount30">
                            </span>
                        </div>
                   
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-green">
                    <a href="~/Client/InspectionList" style="color:white">
                        <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>
                        </a>
                        <div class="info-box-content">
                            <span class="info-box-text">Inspections</span>
                            <span class="info-box-number" id="allInspectionCount"></span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 20%"></div>
                            </div>
                            <span class="progress-description" id="allInspectionCount30">
                            </span>
                        </div>
                        <!-- /.info-box-content -->
</div>
                <!-- /.info-box -->
           
                <div class="info-box bg-aqua">
                    <a href="~/Client/LostFoundRequest" style="color:white">
                        <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>
                    </a>
                  
      
                  <div class="info-box-content">
                    <span class="info-box-text">Lost & Found Requests</span>
                    <span class="info-box-number" id="allLostFoundCount"></span>
      
                    <div class="progress">
                      <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <span class="progress-description" id="allLostFoundCount30">
                        </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
          </div>
  
       </section>

    </div>
  
    @Html.Partial("Footer")

    <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
  </div>
  <!-- ./wrapper -->


    <script>
function retriveallMessages() {
                            $.post("@Url.Action("getPresentEmployee", "Client")",
                        {
                        },
    function (data) {
        //var t1 = document.getElementById("ChatWindow+" + data.data[0].MessageSentBy);
        document.getElementById('emptable').innerHTML = "";
        document.getElementById('emptable').innerHTML += '<tr>' +
                      '<th>Employee</th>' +
                      '<th>Job Title</th>' +
                      '<th>Status</th>' +
                    '</tr>';
        for (var i = 0; i < data.data.length; i++) {
            document.getElementById('emptable').innerHTML += '<tr>' +
                       '<td>' + data.data[i].EmployeeName + '</td>' +
                       '<td>'+
                         '<span class="' + data.data[i].color + '">' + data.data[i].JobTitle + '</span>' +
                       '</td>'+
                       '<td>'+
                         '<div class="sparkbar" data-color="#00a65a" data-height="20">' + data.data[i].curruntStatus + '</div>' +
                       '</td>'+
                     '</tr>'+
                     '<tr>';
        }
    });
}
        function updateDashboardCounts() {
            $.post("@Url.Action("updateDashboardCounts", "Client")",
        {
        },
        function (data) {
            document.getElementById('allAssignedRoomCount').innerHTML = data.allAssignedRoomCount;
            document.getElementById('allCompletedRoomCount').innerHTML = data.allCompletedRoomCount;
            document.getElementById('allEmployeeCount').innerHTML = data.allEmployeeCount;
            document.getElementById('allAlertCount').innerHTML = data.allAlertCount;
            document.getElementById('allMaintenanceCount').innerHTML = data.allMaintenanceCount;
            document.getElementById('allLostFoundCount').innerHTML = data.allLostFoundCount;
            document.getElementById('allInspectionCount').innerHTML = data.allInspectionCount;
            document.getElementById('allMaintenanceCount30').innerHTML = data.allMaintenanceCount30+" requests in last 30 days";
            document.getElementById('allLostFoundCount30').innerHTML = data.allLostFoundCount30+" requests in last 30 days";
            document.getElementById('allInspectionCount30').innerHTML = data.allInspectionCount30+" requests in last 30 days";
        });
        }

        setInterval(function () {
            var session = @Session["BusinessID"] != null;
            if (session == false) {
                window.location = "/Client/Login";
            }
            else {
                retriveallMessages();
                updateDashboardCounts();
            }
        }, 1000);
    </script>
</body>

</html>