﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    @Html.Partial("Header")

    @Html.Partial("SideMenu")

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Inspections List 
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Inspection</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <form action="~/Client/ExpertToExcelInspectionList">
                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-files-o"></i>Export Excel</button>
                </form>
              <div class="box-tools">
                  
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Inspected By</th>
                    <th>Inspected To</th>
                    <th>Room#</th>
                    <th>Duty</th>
                    <th>Overall Result</th>
                    <th>Comments</th>
                    <th>Inspection Date</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                    <tbody></tbody>
                </table>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
      
     

  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

  <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
</div>
    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Inspection</h4>
                </div>
                <form>
                    <input type="hidden" id="deleteInspectionID" />
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Inspection?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelDelete">Close</button>
                        <button type="button" class="btn btn-outline" onclick="deleteInspection()">Delete</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<!-- ./wrapper -->


<!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable({
                "ajax": 'getAllInspectionAjax/',
                "columns": [
                    { "data": "Name" },
              { "data": "InspectedTo" },
          { "data": "RoomNumber" },
              { "data": "Duty" },
               { "data": "Result" },
                { "data": "comments" },
                { "data": "CreatedAt" },
          {
              "targets": 4,
              "data": "InspectionID",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                                </div>`
                  ;
              }
          }
                ]
            });
        });
        setInterval(function () {
            var session = @Session["BusinessID"] != null;
            if (session == false) {
                window.location = "/Client/Login";
            }
            else {
                console.log("hi");
                $('#example1').DataTable().ajax.reload(null,false);
            }
        }, 2000);
        $('#example1 tbody').on('click', 'button', function () {
            console.log("heelo");
            var data = $('#example1').DataTable().row($(this).parents('tr')).data();
            console.log(data["InspectionID"]);
            $("#deleteInspectionID").val(data["InspectionID"]);
        });
        
    </script>
    <script>
        function deleteInspection() {

            $.post("@Url.Action("deleteInspectionAjax", "Client")",
        {
            id: $("#deleteInspectionID").val(),

        },
        function (data) {
            if (data == 1) {
                //alert("Inspection deleted Successfully");
                $("#cancelDelete").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
</body>
</html>
