﻿@using SmartHotelDataAccessLayer
@model  SmartHotelDataAccessLayer.business
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
    <style>
        .abcd:hover {
            transform: scale(2);
        }
    </style>
    <script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
        sandbox: 'AU8y_w7h2yE49NLJBnGNQMzB8tDYGUlujUxz4dgATc8FmojMqH-DhNxjGeWpnR4LS9bPpwFZp3Y9PoM3',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'small',
      color: 'gold',
      shape: 'pill',
    },
    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
              total: '@ViewBag.PaymentObj.Amount',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
      onAuthorize: function(data, actions) {

        return actions.payment.execute().then(function (pay) {

            $.post("@Url.Action("pay", "Admin")",
        {
            id:@ViewBag.PaymentObj.PaymentID,
          transactionId:pay.id,
          state:pay.state
        },
        function (data) {
            if (data == 1) {
                var url = '@Url.Action("ClientMessage", "Admin")';
                window.location.href = url;
            }
            else {
                window.alert('Something went wrong please try again!');
            }
        });



      });
    }
  }, '#paypal-button');

    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Header")

        @Html.Partial("SideMenu")

        <!-- Content Wrapper. Contains page content -->
       
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Invoice
                </h1>
            </section>


            <!-- Main content -->
            <section class="invoice">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header">
                            <i class="fa fa-globe"></i> BSmart Software Inc.
                            <small class="pull-right">Date: @{@ViewBag.PaymentObj.PaymentDate.ToString("MM/dd/yyyy")}</small>
                        </h2>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        From
                        <address>
                            <strong>BSmart Software Inc.</strong><br>
                            1911 University Ave<br>
                            Riverside, CA 92507<br>
                            Phone: (323) 374-5055<br>
                            Email: Sales@BSmartHotel.com
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        To
                        <address>
                            <strong>@Model.BusinessName</strong><br>
                            @Model.Street<br>
                            @Model.City, @Model.State @Model.Zip<br>
                            Phone: @Model.BusinessPhone<br>
                            Email: @Model.BusinessEmail
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <b>Invoice #@ViewBag.PaymentObj.PaymentID</b><br>
                        <br>
                        <b>Business ID:</b> @Model.BusinessNumber<br>
                        <b>Payment Due:</b> @{@ViewBag.PaymentObj.DueDate.ToString("MM/dd/yyyy")}<br>
                        <!-- <b>Account:</b> 968-34567 -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Rooms</th>
                                    <th>Module</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (businessmodule mod in ViewBag.SelectedModule)
                                {
                                    <tr>
                                        <td>@Model.TotalRooms</td>
                                        <td>@mod.module.ModuleName</td>
                                        <td>$@mod.module.Price</td>
                                        <td>@mod.module.Description</td>
                                        <td>$ @(Model.TotalRooms * mod.module.Price)</td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6">

                        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                            If you have any questions regarding this invoice, contact BSmart Hotel Software by phone at +1
                            (323) 374-5055 or via email at Sales@BSmartHotel.com. Interest may accrue on any balance
                            that remains unpaid after 30 days.
                            All sales are final.<br />
                            <a href="@ViewBag.PaymentObj.LApdfLink" target="_blank">License Agreement</a><br />
                            Thank you for your business.

                        </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>$@ViewBag.SubTotal</td>
                                </tr>
                                <tr>
                                    <th>Tax (0.0%)</th>
                                    <td>$0.0</td>
                                </tr>
                                <tr>
                                    <th>Months:</th>
                                    <td>
                                        @{if (Model.PaymentPlan.Equals("Yearly"))
                                            {
                                                @:12
                    }
                                            else
                                            {
                                                @:1
                    }
                                        }
                                    </td>
                                </tr>
                                @{
                                    if (!string.IsNullOrEmpty(Model.PlanType) && Model.PlanType.Equals("Full"))
                                    {
                                        <tr>
                                            <th>Discount:</th>
                                            <td>- $
                                                @if (Model.PaymentPlan.Equals("Yearly"))
                                                {
                                                    @( Convert.ToDouble(@ViewBag.SubTotal) * 12 - Convert.ToDouble(@ViewBag.PaymentObj.Amount))
                                                }
                                                else
                                                {
                                                    @( Convert.ToDouble(@ViewBag.SubTotal) - Convert.ToDouble(@ViewBag.PaymentObj.Amount))
                                                }


                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <th>Total:</th>
                                    <td>$@ViewBag.PaymentObj.Amount</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-xs-12">
                        


                    </div>
                </div>
            </section>
        <!-- /.content -->
        <div class="clearfix"></div>
    </div>

        <!-- /.content-wrapper -->
        @Html.Partial("Footer")

        @Html.Partial("RightSideBar")

        </div>

</body>
</html>
