﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Header")

        @Html.Partial("SideMenu")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Laundry Information
                    <!--  <small>Control panel</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Laundry</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        
                        <div class="box">
                            <div class="box-header">
                                <div class="row margin">
                                    <form name="addLaundryForm" id="addLaundryForm">
                                        <p>Enter Descriptions</p>
                                        <div class="col-sm-4">
                                            <input type="text" id="description" name="description" class="form-control" required/>
                                        </div>

                                        <div class="col-sm-4">

                                            @Html.DropDownList("laundryperson", new SelectList(ViewBag.AllLaundryPerson, "EmployeeID", "Name"), "Select Laundry Person", new { @class = "form-control", id = "laundryperson", onchange = "EnableCreateButton()" })
                                            <p id="errorMsg" style="color:red"></p>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-primary" id="createButton" disabled="true" onclick="addLaundry()">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>CreatedBy</th>
                                            <th>AssignedTo</th>
                                            <th>Status</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Total Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>




        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("Footer")
            


        <div class="modal modal-danger fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Delete Laundry</h4>
                    </div>
                    <form>
                        <input type="hidden" id="deleteLaundryID" />
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Laundry?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelDelete">Close</button>
                            <button type="button" class="btn btn-outline" onclick="deleteLaundryList()">Delete</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Control Sidebar -->
        <!-- ./wrapper -->
        <div class="modal modal-warning fade" id="modal-success">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit Laundry</h4>
                    </div>
                    <form name="editLaundryForm" id="editLaundryForm">
                        <input type="hidden" id="editLaundryID" />
                        <div class="modal-body">
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <label>Desription</label>
                                    <input type="text" id="editDescription" class="form-control" required/>
                                    <label>Select Assigned To</label>
                                    @Html.DropDownList("selectionAssignedTo", new SelectList(ViewBag.AllLaundryPerson, "EmployeeID", "Name"), "Select AssignedTo", new { @class = "form-control", id = "selectionAssignedTo", required= "required" })

                                    <label>Select Laundry Status</label>
                                    @Html.DropDownList("selectionLaundryStatus", new SelectList(ViewBag.getAllLaundryStatus, "LaundryStatusID", "Status"), "Select Laundry Status", new { @class = "form-control", id = "selectionLaundryStatus", required = "required" })
                                   

                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="editcancel">Close</button>
                            <button type="button" class="btn btn-outline" onclick="editLaundryList()">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
        <script>
        $(function () {
            $('#example1').DataTable({
                "ajax": 'getAllLaundry/',
                "columns": [
                    { "data": "Description" },
              { "data": "AddedBy" },
          { "data": "AssignedTo" },
              { "data": "Status" },
               { "data": "StartTime" },
                { "data": "EndTime" },
                { "data": "TotalTime" },
          {
              "targets": 4,
              "data": "LaundryId",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                                    <button type="button" class ="btn btn-info" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Edit</button>
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                                </div>`
                  ;
              }
          }
                ]
            });
        });
        setInterval(function () {
            var session = @Session["BusinessID"] != null;
            if (session == false) {
                window.location = "/Client/Login";
            }
            else {
                $('#example1').DataTable().ajax.reload(null,false);
            }
        }, 2000);
        $('#example1 tbody').on('click', 'button', function () {

            var data = $('#example1').DataTable().row($(this).parents('tr')).data();
            $("#editLaundryID").val(data["LaundryId"]);
            $("#editDescription").val(data["Description"]);
            $("#selectionAssignedTo").val(data["AssignToId"]);
            $("#selectionLaundryStatus").val(data["StatusId"]);
            $("#deleteLaundryID").val(data["LaundryId"]);

            //console.log($("#editClockoutTime").val());
        });
        </script>
        <script>
            function addLaundry() {
                if($("#addLaundryForm")[0].checkValidity())
                {
                    $.post("@Url.Action("AddLaundry", "Client")",
                {
                    description: $("#description").val(),
                    assignedto: $("#laundryperson").val()
                },
                function (data) {
                    if (data == 1) {

                        $("#addcancel").click();
                        //alert("Laundry edited Successfully");
                        $("#description").val("");
                        $("#laundryperson").val(0);
                    }
                    else{
                        //alert("Something went wrong please try again ! ");

                    }
                });
                }
                else
                {
                    $("#addLaundryForm")[0].reportValidity();
                }
    }
        </script>
        <script>
            function editLaundryList() {
                if($("#editLaundryForm")[0].checkValidity())
                {
                    $.post("@Url.Action("editLaundry", "Client")",
                {
                    id: $("#editLaundryID").val(),
                    description: $("#editDescription").val(),
                    assignedto: $("#selectionAssignedTo").val(),
                    status: $("#selectionLaundryStatus").val()
                },
                function (data) {
                    if (data == 1) {
                        $("#editcancel").click();
                        //alert("Laundry edited Successfully");
                        $("#editLaundryForm")[0].reset();
                    }
                    else{
                        //alert("Something went wrong please try again ! ");

                    }
                });
                }
                else
                {
                    $("#editLaundryForm")[0].reportValidity();
                }
    }
        </script>
        <script>
        function deleteLaundryList() {

            $.post("@Url.Action("deleteLaundry", "Client")",
        {
            id: $("#deleteLaundryID").val(),

        },
        function (data) {
            if (data == 1) {
                //alert("Laundry deleted Successfully");
                $("#cancelDelete").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
        </script>
        <script>
            function EnableCreateButton() {
                if ($("#laundryperson").val() > 0) {

                    document.getElementById("createButton").disabled = false;
                }
                else {
                    document.getElementById("createButton").disabled = true;
                }
            }
        </script>
</body>
</html>
