﻿<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BSmart Hotel | Login</title>

    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/iCheck/square/blue.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page text-center ">
    
    <div class="login-box">
        

        <!-- /.login-logo -->
        <div class="login-box-body">
            <img src="~/Content/img/smarthotellogo.png" />
            <p class="login-box-msg">Sign in to start your session</p>
            <form method="post" action="/Client/Login">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" name="Username" value="@ViewBag.Username" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback">

                    </span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="Password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="/Client/resetPassword">I forgot my password</a><br>

        </div>
        <!-- /.login-box-body -->
    </div>

    @*<div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div> <h1 class="logo-name"><img src="~/Content/img/ezer_logo.png" height="50%" width="70%"></h1> </div>
            <h3>Welcome to BSmartHotel</h3>
            <form class="m-t" role="form" method="post" action="/Client/Login">
               
                
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }  
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="Username" value="@ViewBag.Username" required="Please Enter Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="Password" required="Please Enter Password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
            <p class="m-t"> <small><small>Developed &amp; Managed by <a href="http://Makemyapp.us">BSmartHotel</a> © 2018</small></small> </p>
        </div>
    </div>*@

   


    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
    </script>
    @if (Session["reduestedDate"] == null || string.IsNullOrEmpty(Session["reduestedDate"].ToString()))
    {

        <script type="text/javascript">

        var d = new Date();
        var date = d.getDate();
        var month = (d.getMonth() + 1);
        if (month<10)
        {
            month = "0" + (d.getMonth() + 1);
        }
        if (date < 10) {
            date = "0" + d.getDate();
        }
        var datetext = d.toTimeString();
        datetext = datetext.split(' ')[0];
        var dateString = month + "/" + date + "/" + d.getFullYear() + " " + datetext;
            $.post('/Client/SetUTC', { dateString }, function (data) { location.reload(); });
        </script>
    }
    
</body>

</html>
