﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
    <style>
        .abcd:hover {
            transform: scale(2);
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @Html.Partial("Header")

    @Html.Partial("SideMenu")
   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lost & Found Information 
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Lost & Found</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <table>
                    <tr>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add"><i class="fa fa-user"></i>Add New Lost & Found Request</button></td>
                        <td>&nbsp;</td>
                        <td>
                            <form action="~/Client/ExpertToExcelLostFoundRequest">
                                <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-files-o"></i>Export Excel</button>
                            </form>
                        </td>
                    </tr>
                </table>
                
                <div class="box-tools">
                  
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Room#</th>
                    <th>Stay Date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>CollectedBy</th>                   
                    <th>Notes</th>
                    <th>Picture</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  
                  </tbody>
                 
                </table>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

    <div class="modal modal-warning fade" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add LostFound Request</h4>
                </div>
                <form name="addMaintenanceRequest" id="addMaintenanceRequest">
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Select Room Number</label>
                                @Html.DropDownList("addselectionRoomIdID", new SelectList(ViewBag.AllRooms, "RoomID", "RoomNumber"), "Select Room Number", new { @class = "form-control", id = "addselectionRoomIdID", required = "required" })
                                <label for="staydate">Stay Date</label>
                                <input type="date" name="staydate" id="staydate" class="form-control" required/>
                                <label>Select Lost Found Status</label>
                                @Html.DropDownList("addselectionLostFoundStatus", new SelectList(ViewBag.allLostFoundStatus, "LostFoundStatusID", "Status"), "Select LostFound Status", new { @class = "form-control", id = "addselectionLostFoundStatus", required = "required" })
                                <label>Select Lost Found Priority</label>

                                @Html.DropDownList("addselectionLostFoundPriority", new SelectList(ViewBag.allPriorities, "PriorityID", "Priority1"), "Select Priority", new { @class = "form-control", id = "addselectionLostFoundPriority", required = "required" })
                                <label>Select Collected By</label>
                                @Html.DropDownList("addselectionCollectedByID", new SelectList(ViewBag.getAllEmployeeOfBusiness, "EmployeeID", "Name"), "Select Collected By", new { @class = "form-control", id = "addselectionCollectedByID" })
                                
                                <label for="addNotes">Notes</label>
                                <textarea class="form-control" id="addNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="addcancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="addMaintenance()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete LostFound Request</h4>
                </div>
                <form>
                    <input type="hidden" id="deleteLostFoundStatusID" />
                    <div class="modal-body">
                        <p>Are you sure you want to delete this LostFound Request?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelDelete">Close</button>
                        <button type="button" class="btn btn-outline" onclick="deleteLostFoundList()">Delete</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Control Sidebar -->
    <!-- ./wrapper -->
    <div class="modal modal-warning fade" id="modal-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit LostFound Request</h4>
                </div>
                <form name="editLostFoundForm" id="editLostFoundForm">
                    <input type="hidden" id="LostFoundID" />
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Select Lost Found Status</label>

                                @Html.DropDownList("selectionLostFoundStatus", new SelectList(ViewBag.allLostFoundStatus, "LostFoundStatusID", "Status"), "Select LostFound Status", new { @class = "form-control", id = "selectionLostFoundStatus", required = "required" })
                                <label>Select Room Priority</label>

                                @Html.DropDownList("selectionLostFoundPriority", new SelectList(ViewBag.allPriorities, "PriorityID", "Priority1"), "Select Priority", new { @class = "form-control", id = "selectionLostFoundPriority", required = "required" })
                                <label>Select Verified By</label>
                                @Html.DropDownList("selectionCollectedByID", new SelectList(ViewBag.getAllEmployeeOfBusiness, "EmployeeID", "Name"), "Select Collected By", new { @class = "form-control", id = "selectionCollectedByID" })

                                <label for="editNotes">Notes</label>
                                <textarea class="form-control" id="editNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="editcancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="editLostFoundList()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="modal-img">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Lost&Found Images</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <img height="200" width="200" id="img1" name="img1" class="abcd"/>
                        <img height="200" width="200" id="img2" name="img2" class="abcd"/>
                        <img height="200" width="200" id="img2" name="img3" class="abcd"/>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>
        $(function () {
            $('#example1').DataTable({
                "ajax": 'getAllLostFoundRequestAjax/',
                "columns": [
              { "data": "RoomNumber" },
          { "data": "StayDate" },
              { "data": "Status" },
               { "data": "Priority" },
                { "data": "AddedBy" },
          { "data": "Note" },
          {
              "targets": 4,
              "data": "Picture1",
              "render": function (data, type, row, meta) {
                  if (data != null) {
                      return `<div class="btn-group">
                                    <a data-toggle="modal" data-target="#modal-img" value= ` + data + ` ><img  height="25px" width="25px" src="@Url.Content("~/Content/img/image1.png")" /></a>
                                </div>`
                  }
                  return "No Picture";

                  ;
              }
          },
          {
              "targets": 4,
              "data": "LostFoundID",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                                    <button type="button" class ="btn btn-info" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Edit</button>
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                                </div>`
                  ;
              }
          }
                ]
            });
        });
        setInterval(function () {
            var session = @Session["BusinessID"] != null;
            if (session == false) {
                window.location = "/Client/Login";
            }
            else {
                $('#example1').DataTable().ajax.reload(null,false);
            }
        }, 2000);
        $('#example1 tbody').on('click', 'button', function () {

            var data = $('#example1').DataTable().row($(this).parents('tr')).data();

            $("#deleteLostFoundStatusID").val(data["LostFoundID"])
            $("#LostFoundID").val(data["LostFoundID"]);
            $("#selectionLostFoundStatus").val(data["LostFoundStatusID"]);
            $("#selectionLostFoundPriority").val(data["PriorityId"]);
            $("#selectionCollectedByID").val(data["AddedById"]);
            $("#editNotes").val(data["Note"]);
            $('#img1').attr("src", data["Picture1"]);
            $('#img2').attr("src", data["Picture2"]);
            $('#img3').attr("src", data["Picture3"]);
            //console.log($("#editClockoutTime").val());
        });
        $('#example1 tbody').on('click', 'a', function () {

            $('#img1').attr("src", "");
            $('#img2').attr("src", "");
            $('#img3').attr("src", "");
            var data = $('#example1').DataTable().row($(this).parents('tr')).data();

            $('#img1').attr("src", data["Picture1"]);
            $('#img2').attr("src", data["Picture2"]);
            $('#img3').attr("src", data["Picture3"]);
            //console.log($("#editClockoutTime").val());
        });
    </script>
    <script>
        function addMaintenance() {
            if($("#addMaintenanceRequest")[0].checkValidity())
            {
                var date = new Date($(staydate).val());
                var month = (1 + date.getMonth()).toString();
                month = month.length > 1 ? month : '0' + month;

                var day = date.getDate().toString();
                day = day.length > 1 ? day : '0' + day;
                var stdate = month + "/" + day + "/" + date.getFullYear();
                $.post("@Url.Action("AddLostFoundRequestAjax", "Client")",
            {
                id: $("#addselectionRoomIdID").val(),
                staydate: stdate,
                status: $("#addselectionLostFoundStatus").val(),
                priority: $("#addselectionLostFoundPriority").val(),
                collectedby: $("#addselectionCollectedByID").val(),
                note: $("#addNotes").val()
            },
            function (data) {
                if (data == 1) {

                    $("#addcancel").click();
                    //alert("LostFound request added Successfully");
                    $("#addMaintenanceRequest")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#addMaintenanceRequest")[0].reportValidity();
            }
    }
    </script>
    <script>
        function editLostFoundList() {
            if($("#editLostFoundForm")[0].checkValidity())
            {
                $.post("@Url.Action("editLostFoundRequestAjax", "Client")",
            {
                id: $("#LostFoundID").val(),
                status: $("#selectionLostFoundStatus").val(),
                priority: $("#selectionLostFoundPriority").val(),
                collectedby: $("#selectionCollectedByID").val(),
                note: $("#editNotes").val()
            },
            function (data) {
                if (data == 1) {
                    $("#editcancel").click();
                    //alert("LostFound request edited Successfully");
                    $("#editLostFoundForm")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#editLostFoundForm")[0].reportValidity();
            }
    }
    </script>
    <script>
        function deleteLostFoundList() {

            $.post("@Url.Action("deleteLostFoundRequestAjax", "Client")",
        {
            id: $("#deleteLostFoundStatusID").val(),

        },
        function (data) {
            if (data == 1) {
                //alert("LostFound request deleted Successfully");
                $("#cancelDelete").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
</body>
</html>
