﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
    <style>
    .abcd:hover {
    transform: scale(2);
    }
        </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    @Html.Partial("Header")

    @Html.Partial("SideMenu")
   

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Maintenance Requests Information 
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Maintenance Requests</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <table>
                    <tr>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add"><i class="fa fa-user"></i>Add New Maintenance Request</button> </td>
                        <td>&nbsp;</td>
                        <td>
                            <form action="~/Client/ExpertToExcelMaintenanceRequest">
                                <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-files-o"></i>Export Excel</button>
                            </form>
                        </td>
                    </tr>
                </table>
                
              <div class="box-tools">
                  
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Room#</th>
                    <th>AssignedTo</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Priority</th>
                      <th>CreatedBy</th>
                    <th>VerifiedBy</th>
                    <th>Start/End Time</th>
                    <th>Total Time</th>
                    <th>Notes</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  
                  </tbody>
                 <!--  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot> -->
                </table>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    
    @Html.Partial("RightSideBar")
    <div class="modal modal-warning fade" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Maintenance Request</h4>
                </div>
                <form  name="addMaintenanceRequest" id="addMaintenanceRequest">
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Select Room Number</label>
                                @Html.DropDownList("addselectionRoomIdID", new SelectList(ViewBag.AllRooms, "RoomID", "RoomNumber"), "Select Room Number", new { @class = "form-control", id = "addselectionRoomIdID", required = "required" })


                                <label>Select Assigned To</label>
                                @Html.DropDownList("addselectionAssignedToID", new SelectList(ViewBag.AllMaintenance, "EmployeeID", "Name"), "Select Maintenance Person", new { @class = "form-control", id = "addselectionAssignedToID", required = "required" })

                                <label>Select Room Duty</label>

                                @Html.DropDownList("addselectionMaintenanceType", new SelectList(ViewBag.allMaintenanceType, "MaintenanceTypeID", "Type"), "Select Maintenance Type", new { @class = "form-control", id = "addselectionMaintenanceType", required = "required" })
                                <label>Select Room Status</label>

                                @Html.DropDownList("addselectionMaintenanceStatus", new SelectList(ViewBag.allMaintenanceStatus, "MaintenanceStatusID", "Status"), "Select Maintenance Status", new { @class = "form-control", id = "addselectionMaintenanceStatus", required = "required" })
                                <label>Select Room Priority</label>

                                @Html.DropDownList("addselectionRoomPriority", new SelectList(ViewBag.allPriorities, "PriorityID", "Priority1"), "Select Priority", new { @class = "form-control", id = "addselectionRoomPriority", required = "required" })
                                <label>Select Verified By</label>
                                @Html.DropDownList("addselectionVerifiedByID", new SelectList(ViewBag.AllHeadHK, "EmployeeID", "Name"), "Select Head Housekeeper", new { @class = "form-control", id = "addselectionVerifiedByID", required = "required" })
                                @*<label>Upload Image1</label>
                                <input type="file" class="form-control" id="addImage1" name="addImage1">
                                <label>Upload Image2</label>
                                <input type="file" class="form-control" id="addImage2" name="addImage2">
                                <label>Upload Image3</label>
                                <input type="file" class="form-control" id="addImage3" name="addImage3">*@
                                <label for="addNotes">Notes</label>
                                <textarea class="form-control" id="addNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="addMaintenance()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Maintenance Request</h4>
                </div>
                <form>
                    <input type="hidden" id="deleteMaintenanceId" />
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Maintenance Request?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelDelete">Close</button>
                        <button type="button" class="btn btn-outline" onclick="deleteRoomList()">Delete</button>
                    </div>
                </form>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Control Sidebar -->
    <!-- ./wrapper -->
    <div class="modal modal-warning fade" id="modal-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Maintenance Request</h4>
                </div>
                <form name="editMaintenanceForm" id="editMaintenanceForm">
                    <input type="hidden" id="MaintenanceId" />
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Select Assigned To</label>
                                @Html.DropDownList("selectionAssignedToID", new SelectList(ViewBag.AllMaintenance, "EmployeeID", "Name"), "Select Maintenance Person", new { @class = "form-control", id = "selectionAssignedToID", required = "required" })

                                <label>Select Room Duty</label>

                                @Html.DropDownList("selectionMaintenanceType", new SelectList(ViewBag.allMaintenanceType, "MaintenanceTypeID", "Type"), "Select Maintenance Type", new { @class = "form-control", id = "selectionMaintenanceType", required = "required" })
                                <label>Select Room Status</label>

                                @Html.DropDownList("selectionMaintenanceStatus", new SelectList(ViewBag.allMaintenanceStatus, "MaintenanceStatusID", "Status"), "Select Maintenance Status", new { @class = "form-control", id = "selectionMaintenanceStatus", required = "required" })
                                <label>Select Room Priority</label>

                                @Html.DropDownList("selectionRoomPriority", new SelectList(ViewBag.allPriorities, "PriorityID", "Priority1"), "Select Priority", new { @class = "form-control", id = "selectionRoomPriority", required = "required" })
                                <label>Select Verified By</label>
                                @Html.DropDownList("selectionVerifiedByID", new SelectList(ViewBag.AllHeadHK, "EmployeeID", "Name"), "Select Head Housekeeper", new { @class = "form-control", id = "selectionVerifiedByID", required = "required" })

                                <label for="editNotes">Notes</label>
                                <textarea class="form-control" id="editNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="editcancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="editRoomList()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-primary fade" id="modal-img">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Maintenance Images</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <img height="150" width="150" id="img1" name="img1" class="abcd"/>
                        <img height="150" width="150" id="img2" name="img2" class="abcd"/>
                        <img height="150" width="150" id="img2" name="img3" class="abcd"/>
                        <h4 class="modal-title">Maintenance Fix Image</h4>
                        <img height="150" width="150" id="img4" name="img4" class="abcd"/>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
  <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
<script>
           $(function () {
               $('#example1').DataTable({
                   "ajax": 'getAllMaintenanceRooms/',
                   "columns": [
                       {
                           "data": null,
                           "render": function (data, type, full) {
                               var ab = "";
                               if ((full['Picture1'] != null && full['Picture1'] != '')|| (full['Picture4'] != null && full['Picture4'] != '')) {
                                   var ab=`<div class="btn-group">
                                    <a data-toggle="modal" data-target="#modal-img" value= ` + data + ` ><img  height="25px" width="25px" src="@Url.Content("~/Content/img/image1.png")" /></a>
                                </div>`;
                               }
                               return full['RoomNumber'] + '<span class="pull-right">' + ab + '</span>';

                           }
                       },
             { "data": "AssignedTo" },
                 { "data": "Type" },
                  { "data": "Status" },
                   { "data": "Priority" },
                   { "data": "AddedBy" },
             { "data": "VerifiedBy" },
             {
                 "data": null,
                 "render": function (data, type, full) {
                     if (full['StartTime'] != null && full['EndTime'] != '') {
                     }
                     return full['StartTime'] + ' - ' + full['EndTime'];

                 }
             },
             { "data": "TotalTime" },
             { "data": "Note" },
             {
                 "targets": 4,
                 "data": "MaintenanceID",
                 "render": function (data, type, row, meta) {
                     return `<div class="btn-group">
                                    <button type="button" class ="btn btn-info" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Edit</button>
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                                </div>`
                     ;
                 }
             }
                   ]
               });
           });
    setInterval(function () {
        var session = @Session["BusinessID"] != null;
        if (session == false) {
            window.location = "/Client/Login";
        }
        else {
            $('#example1').DataTable().ajax.reload(null,false);
        }
           }, 2000);
           $('#example1 tbody').on('click', 'button', function () {

               var data = $('#example1').DataTable().row($(this).parents('tr')).data();

               $("#deleteMaintenanceId").val(data["MaintenanceID"])
               $("#MaintenanceId").val(data["MaintenanceID"]);
               $("#selectionAssignedToID").val(data["AssignToId"]);
               $("#selectionMaintenanceType").val(data["TypeId"]);
               $("#selectionMaintenanceStatus").val(data["MaintenanceStatusID"]);
               $("#selectionRoomPriority").val(data["PriorityId"]);
               $("#selectionVerifiedByID").val(data["VerifiedById"]);
               $("#editNotes").val(data["Note"]);
               //$('#img1').attr("src", data["Picture1"]);
               //$('#img2').attr("src", data["Picture2"]);
               //$('#img3').attr("src", data["Picture3"]);
               //$('#img4').attr("src", data["Picture4"]);
               //console.log($("#editClockoutTime").val());
           });
           $('#example1 tbody').on('click', 'a', function () {

               $('#img1').attr("src", "");
               $('#img2').attr("src", "");
               $('#img3').attr("src", "");
               $('#img4').attr("src", "");
               var data = $('#example1').DataTable().row($(this).parents('tr')).data();

               $('#img1').attr("src", data["Picture1"]);
               $('#img2').attr("src", data["Picture2"]);
               $('#img3').attr("src", data["Picture3"]);
               $('#img4').attr("src", data["Picture4"]);
               //console.log($("#editClockoutTime").val());
           });
</script>
    <script>
        function addMaintenance() {
            if($("#addMaintenanceRequest")[0].checkValidity())
            {
                $.post("@Url.Action("AddMaintenanceRequestAjax", "Client")",
            {
                id: $("#addselectionRoomIdID").val(),
                MpId: $("#addselectionAssignedToID").val(),
                type: $("#addselectionMaintenanceType").val(),
                status: $("#addselectionMaintenanceStatus").val(),
                priority: $("#addselectionRoomPriority").val(),
                HeadHk: $("#addselectionVerifiedByID").val(),
                note: $("#addNotes").val()
            },
            function (data) {
                if (data == 1) {
                    //alert("Maintenance request edited Successfully");
                    $("#cancel").click();
                    $("#addMaintenanceRequest")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#addMaintenanceRequest")[0].reportValidity();
            }
    }
    </script>
    <script>
        function editRoomList() {
            if($("#editMaintenanceForm")[0].checkValidity())
            {
                $.post("@Url.Action("editMaintenanceAjax", "Client")",
            {
                id: $("#MaintenanceId").val(),
                MpId: $("#selectionAssignedToID").val(),
                type: $("#selectionMaintenanceType").val(),
                status: $("#selectionMaintenanceStatus").val(),
                priority: $("#selectionRoomPriority").val(),
                HeadHk: $("#selectionVerifiedByID").val(),
                note: $("#editNotes").val()
            },
            function (data) {
                if (data == 1) {
                    //alert("Maintenance request edited Successfully");
                    $("#editcancel").click();
                    $("#editMaintenanceForm")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#editMaintenanceForm")[0].reportValidity();
            }
    }
    </script>
    <script>
        function deleteRoomList() {

            $.post("@Url.Action("deleteMaintenanceRequestAjax", "Client")",
        {
            id: $("#deleteMaintenanceId").val(),

        },
        function (data) {
            if (data == 1) {
                //alert("RoomList deleted Successfully");
                $("#cancelDelete").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
    <script>
        function onimagehover()
        {
            $(".compress").hover(function(){
                $(".image").show();

            });
        }
    </script>
</body>
</html>
