﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BSmartHotel | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Content/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Content/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Content/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <script src="~/Content/initial.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Header")

        @{Html.RenderPartial("SideMenu");}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Message
                    <!--  <small>Control panel</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Message</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div class="row" id="chatingwindows">
                    @{

                        int i = 0;

                        foreach (var item in ViewBag.allEmployee)
                        {

                            i++;
                            string type = "primary";
                            string color = "light-blue";
                            switch (i % 4)
                            {
                                case 1:
                                    type = "primary";
                                    color = "light-blue";

                                    break;
                                case 2:
                                    type = "success";
                                    color = "green";

                                    break;
                                case 3:
                                    type = "warning";
                                    color = "yellow";
                                    break;
                                default:
                                    type = "danger";
                                    color = "red";
                                    break;
                            }
                            <div class="col-md-3">
                                <!-- DIRECT CHAT PRIMARY -->
                                <div class="box box-@type direct-chat direct-chat-@type">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">@item.Name</h3>

                                        <div class="box-tools pull-right">
                                            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-@color" id="Count+@item.EmployeeID">0</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                                <i class="fa fa-comments"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body" >
                                        <!-- Conversations are loaded here -->
                                        <div class="direct-chat-messages" id="ChatWindow+@item.EmployeeID">
                                           
                                        </div>
                                        
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <form id="msgForm+@item.EmployeeID" name="msgForm+@item.EmployeeID">
                                            <div class="input-group">
                                                <input type="text" name="message+@item.EmployeeID" id="message+@item.EmployeeID" onclick="readAllMessage(@item.EmployeeID)" placeholder="Type Message ..." class="form-control" required>
                                                <span class="input-group-btn">
                                                    <button type="button" onclick="sendMessage(@item.EmployeeID)"  class="btn btn-primary btn-flat bg-@color">Send</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.box-footer-->
                                </div>
                                <!--/.direct-chat -->
                            </div>
                    <!-- /.col -->
                        }
                    }
                   
                    <!-- /.col -->
                </div>
                </section>



        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("Footer")
            
        <!-- Control Sidebar -->

        @Html.Partial("RightSideBar")
    </div>
    <!-- ./wrapper -->
    
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button);
    </script>
    

<script>
function retriveallMessages() {
                            $.post("@Url.Action("getAllmessage", "Client")",
                        {
                        },
    function (data) {
        clearAllChatWindow();
        //var t1 = document.getElementById("ChatWindow+" + data.data[0].MessageSentBy);
        for (var i = 0; i < data.data.length; i++) {
            var divid = "ChatWindow+" + data.data[i].MessageSentByID;
            var divid2 = "ChatWindow+" + data.data[i].MessageRecievedByID;
            var msgSent = document.getElementById("ChatWindow+" + data.data[i].MessageSentByID);
            var msgReceive = document.getElementById("ChatWindow+" + data.data[i].MessageRecievedByID);
            
            if (msgSent!=null)
            {
                pupulatemessage(1, divid, data.data[i].messageText, data.data[i].CreatedAt, data.data[i].MessageSentBy, data.data[i].MessageSentByImage)
                
            }
            else if (msgReceive!=null)
            {
                pupulatemessage(2, divid2, data.data[i].messageText, data.data[i].CreatedAt, data.data[i].MessageSentBy, data.data[i].MessageSentByImage)
                

            }
        }
    });
    }

</script>
    <script>
        function pupulatemessage(a, divid, messageText, CreatedAt, MessageSentBy,Image) {
            //console.log(getInitials(MessageSentBy));
            var div = document.createElement('div');
            var imagest="";
            
            console.log(imagest);
            if (a ==1) {
                if(Image==null)
                {
                    imagest='<img style="float: right;" data-name="'+MessageSentBy+'" class="profile img-circle"/>';
                }
                else
                {
                    imagest='<img class="direct-chat-img" src="'+Image+'">';
                }
                div.innerHTML += '<div class="direct-chat-msg right">' +
                        '<div class="direct-chat-info clearfix">' +
                          '<span class="direct-chat-name pull-right">' + MessageSentBy + '</span>' +
                         ' <span class="direct-chat-timestamp pull-left">' + CreatedAt + '</span>' +
                        '</div>' +
                        imagest+
                        '<div class="direct-chat-text">' +
                        messageText +
                       ' </div>' +
                      '</div>' +
                    '</div>';
            }
            else
            {
                if(Image==null)
                {
                    imagest='<img style="float: left;" data-name="'+MessageSentBy+'" class="profile img-circle"/>';
                }
                else
                {
                    imagest='<img class="direct-chat-img" src="'+Image+'">';
                }
                div.innerHTML += '<div class="direct-chat-info clearfix">' +
                      '<span class="direct-chat-name pull-left">' + MessageSentBy + '</span>' +
                      '<span class="direct-chat-timestamp pull-right">' + CreatedAt + '</span>' +
                  '  </div>' +
                   imagest+
                    '<div class="direct-chat-text">' +
                      messageText
                '</div>' +
              '</div>';
            }
            document.getElementById(divid).appendChild(div);
            document.getElementById(divid).scrollTop = document.getElementById(divid).scrollHeight;
            $('.profile').initial({height:35,width:35,fontSize:27}); 

            //document.getElementById(divid).scrollTop(document.getElementById(divid).outerHeight());
        }
        </script>
    <script>
        function sendMessage(a)
        {
            var na="msgForm+"+a;
            console.log(document.getElementById(na).checkValidity());
            //$("#msgForm{{2}}")[0].checkValidity();
            //$("#msgForm{{2}}")[0].reportValidity();
            if(document.getElementById(na).checkValidity()==true)
            {
                var text = "message+" + a;
                var msgText = document.getElementById(text).value;
                var d = new Date();
                var date = d.getDate();
                var month = (d.getMonth() + 1);
                if (month < 10) {
                    month = "0" + (d.getMonth() + 1);
                }
                if (date < 10) {
                    date = "0" + d.getDate();
                }
                var hh = d.getHours();
                hh = hh > 9 ? hh : '0' + hh;
                var mm = d.getMinutes();
                mm = mm > 9 ? mm : '0' + mm;
                var ss = d.getSeconds();
                ss = ss > 9 ? ss : '0' + ss;
                var dateString = month + "/" + date + "/" + d.getFullYear() + " " + hh + ":" + mm + ":" + ss;
                if (a != "") {
                    $.post("@Url.Action("addMessage", "Client")",
                {
                    sendId:a,
                    msgText:msgText,
                    msgTime: dateString
                },
                function (data) {
                    if(data==1)
                    {
                        var msgText = document.getElementById(text).value="";
                        document.getElementById(na).reset();
                        retriveallMessages();
                    }
                });
                }
            }
            else
            {
                $('form').each(function() { this.reset() });
                document.getElementById(na).reportValidity();
            }
            
        }
        function clearAllChatWindow()
        {
             @{
                 foreach (var item in ViewBag.allEmployee)
                 {
                     @: var div=document.getElementById("ChatWindow+"+@item.EmployeeID);
                     @:if(div!=null)
                     @:document.getElementById("ChatWindow+"+@item.EmployeeID).innerHTML="";
                     }
                 }
             }
    </script>
    <script>
        function getUnreadCount() {
                            $.post("@Url.Action("getUnreadCount", "Client")",
                        {
                        },
    function (data) {
        //var t1 = document.getElementById("ChatWindow+" + data.data[0].MessageSentBy);
        for (var i = 0; i < data.data.length; i++) {
            var spanCount = document.getElementById("Count+" + data.data[i].employeeId);
            if (spanCount!=null)
            {
                spanCount.innerHTML=data.data[i].unreadCount;
            }
            else if (msgReceive!=null)
            {
                spanCount.innerHTML=0;
            }
        }
    });
    }

    </script>
    <script>
        function readAllMessage(a) {
            console.log(typeof(a));
                            $.post("@Url.Action("readAllMessage", "Client")",
                        { id:a
                        },
    function (data) {
        if(data==1)
        getUnreadCount();
        
    });
    }

    </script>
    <script>
        $(document).ready(function(){
            retriveallMessages();
            getUnreadCount();
        });
        setInterval(function () {
            retriveallMessages();
            getUnreadCount();
        }, 2000);
    </script>
    <script>
        
    </script>
</body>

</html>
