﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
    
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @Html.Partial("Header")

    @Html.Partial("SideMenu")
   

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Maintenance Report
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Report</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body chart-responsive">
            <div class="chart" id="bar-chart" style="height: 300px;"></div>
          </div>
          <!-- /.box-body -->
        </div>
        
      </div>
      <div class="row">
        <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Maintenance Performance Report</h3>
          <form action="~/Client/ExpertToExcel">
    <input type="hidden" name="reportType" value="MPReport" />
    <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-files-o"></i>Export Excel</button>
</form> 
</div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Employee Name</th>
            <th>AvgTimePerMaintenance</th>
            <th>Total Completed Maintenance Tasks</th>
       
          </tr>
          </thead>
          <tbody>
              @{
                  foreach (var item in ViewBag.EmployeePerformance)
                  {
                      <tr>
                          <td>@item.Name</td>
                          <td>@item.avgTimePerRoom Minutes</td>
                          <td>@item.avgRoomPerDay</td>
                      </tr>
                  }
              }
          </tbody>
         <!--  <tfoot>
          <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
          </tr>
          </tfoot> -->
        </table>
      </div>
    </div>
  </div>  
      </div>
      </section>

     

  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

  <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
</div>
<!-- ./wrapper -->

<!-- Morris.js charts -->
<script src="~/Content/bower_components/raphael/raphael.min.js"></script>
<script src="~/Content/bower_components/morris.js/morris.min.js"></script>
<script>
  $(function () {
    "use strict";
    //BAR CHART
    var bar = new Morris.Bar({
      element: 'bar-chart',
      resize: true,
      data: [
        @{
            foreach (var item in ViewBag.EmployeePerformance)
                {
                    @:{y:'@item.Name',a:@item.avgTimePerRoom,b:@item.avgRoomPerDay},
                    }
            }
       
      ],
      barColors: ['#00a65a', '#f56954'],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['AvgTimePerMaintenance', 'TotalCompletedMnt'],
      hideHover: 'auto'
    });
  });
</script>
</body>
</html>
