﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @Html.Partial("Header")

    @Html.Partial("SideMenu")

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <p id="reportTitle">
                Housekeeping Report
            </p>
            <!--  <small>Control panel</small> -->
            <button type="button" class="btn btn-primary" id="btnAll" onclick="Populatedata(1)" disabled>OverAllReport</button>
            <button type="button" class="btn btn-primary" id="btnWeekly" onclick="Populatedata(2)">Weekly</button>
            <button type="button" class="btn btn-primary" id="btnMonthly" onclick="Populatedata(3)">Monthly</button>
        </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Report</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Bar Chart</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body chart-responsive">
            <div class="chart" id="bar-chart" style="height: 300px;"></div>
          </div>
          <!-- /.box-body -->
        </div>
        
      </div>
      <div class="row">
        <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Housekeeper Performance Report</h3><form action="~/Client/ExpertToExcel">
          <input type="hidden" name="reportType" value="HKReport"/>
          <button type="submit" class="btn btn-block btn-primary" ><i class="fa fa-files-o"></i>Export Excel</button></form> 
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Employee Name</th>
            <th>AvgTimePerRoom</th>
            <th>AvgRoomPerDay</th>
       
          </tr>
          </thead>
          <tbody id="tablebody">
              @*@{ 
                  foreach (var item in ViewBag.EmployeePerformance)
                  {
                      <tr>
                          <td>@item.Name</td>
                          <td>@item.avgTimePerRoom Minutes</td>
                          <td>@item.avgRoomPerDay</td>
                      </tr>
                  }
              }*@
          
          </tbody>
        </table>
      </div>
    </div>
  </div>  
      </div>
      
     </section>

  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

  <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
</div>

<!-- Morris.js charts -->
<script src="~/Content/bower_components/raphael/raphael.min.js"></script>
<script src="~/Content/bower_components/morris.js/morris.min.js"></script>

<script>
    $(function () {
        document.getElementById("reportTitle").innerText="Housekeeping Report";
        document.getElementById("btnAll").disabled = true;
        document.getElementById("btnWeekly").disabled = false;
        document.getElementById("btnMonthly").disabled = false;
        var tablebody="";
        var array = @Html.Raw(Json.Encode(@ViewBag.EmployeePerformance));

        for(var i = 0; i < array.length; i++) {
            tablebody+="<tr>"+
                    "<td>"+array[i].Name+"</td>"+
                    "<td>"+array[i].avgRoomPerDay+" Minutes</td>"+
                    "<td>"+array[i].avgTimePerRoom+"</td>"+
                "</tr>";
        }
        document.getElementById("tablebody").innerHTML=tablebody;
        "use strict";
        //BAR CHART
        var bar = new Morris.Bar({
            element: 'bar-chart',
            resize: true,
            data: [
                @{
                    foreach (var item in ViewBag.EmployeePerformance)
                    {
                      @:{y:'@item.Name',a:@item.avgTimePerRoom,b:@item.avgRoomPerDay},
                  }
          }
              
            ],
            barColors: ['#00a65a', '#f56954'],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['AvgTimePerRoom', 'AvgTotalRoom'],
            hideHover: 'auto'
        });
    });
</script>
    <script>
        function Populatedata(a)
        {
            if(a==1)
            {
                document.getElementById("reportTitle").innerText="Housekeeping Report";
                document.getElementById("btnAll").disabled = true;
                document.getElementById("btnWeekly").disabled = false;
                document.getElementById("btnMonthly").disabled = false;
                var tablebody="";
                var array = @Html.Raw(Json.Encode(@ViewBag.EmployeePerformance));

                for(var i = 0; i < array.length; i++) {
                    tablebody+="<tr>"+
                            "<td>"+array[i].Name+"</td>"+
                            "<td>"+array[i].avgRoomPerDay+" Minutes</td>"+
                            "<td>"+array[i].avgTimePerRoom+"</td>"+
                        "</tr>";
                }
                document.getElementById("tablebody").innerHTML=tablebody;
                $(function () {
                    "use strict";
                    //BAR CHART
                    var bar = new Morris.Bar({
                        element: 'bar-chart',
                        resize: true,
                        data: [
                            @{
                                foreach (var item in ViewBag.EmployeePerformance)
                                    {
                                        @:{y:'@item.Name',a:@item.avgTimePerRoom,b:@item.avgRoomPerDay},
                                        }
                                }

                        ],
                        barColors: ['#00a65a', '#f56954'],
                        xkey: 'y',
                        ykeys: ['a', 'b'],
                        labels: ['AvgTimePerRoom', 'AvgTotalRoom'],
                        hideHover: 'auto'
                    });
                });
            }
            else if(a==2)
            {
                document.getElementById("reportTitle").innerText="Housekeeping Weekly Report";
                document.getElementById("btnAll").disabled = false;
                document.getElementById("btnWeekly").disabled = true;
                document.getElementById("btnMonthly").disabled = false;
                var tablebody="";
                var array = @Html.Raw(Json.Encode(@ViewBag.EmployeePerformance));

                for(var i = 0; i < array.length; i++) {
                    tablebody+="<tr>"+
                            "<td>"+array[i].Name+"</td>"+
                            "<td>"+array[i].avgRoomPerDayWeekly+" Minutes</td>"+
                            "<td>"+array[i].avgTimePerRoomWeekly+"</td>"+
                        "</tr>";
                }
                document.getElementById("tablebody").innerHTML=tablebody;
                $(function () {
                    "use strict";
                    //BAR CHART
                    var bar = new Morris.Bar({
                        element: 'bar-chart',
                        resize: true,
                        data: [
                            @{
                                foreach (var item in ViewBag.EmployeePerformance)
                                    {
                                        @:{y:'@item.Name',a:@item.avgTimePerRoomWeekly,b:@item.avgRoomPerDayWeekly},
                                        }
                                }

                        ],
                        barColors: ['#00a65a', '#f56954'],
                        xkey: 'y',
                        ykeys: ['a', 'b'],
                        labels: ['AvgTimePerRoom', 'AvgTotalRoom'],
                        hideHover: 'auto'
                    });
                });
            }
            else
            {
                
                document.getElementById("reportTitle").innerText="Housekeeping Monthly Report";
                document.getElementById("btnAll").disabled = false;
                document.getElementById("btnWeekly").disabled = false;
                document.getElementById("btnMonthly").disabled = true;
                var tablebody="";
                var array = @Html.Raw(Json.Encode(@ViewBag.EmployeePerformance));

                for(var i = 0; i < array.length; i++) {
                    tablebody+="<tr>"+
                            "<td>"+array[i].Name+"</td>"+
                            "<td>"+array[i].avgRoomPerDayMonthly+" Minutes</td>"+
                            "<td>"+array[i].avgTimePerRoomMonthly+"</td>"+
                        "</tr>";
                }
                document.getElementById("tablebody").innerHTML=tablebody;
                $(function () {
                    "use strict";
                    //BAR CHART
                    var bar = new Morris.Bar({
                        element: 'bar-chart',
                        resize: true,
                        data: [
                            @{
                                foreach (var item in ViewBag.EmployeePerformance)
                                    {
                                        @:{y:'@item.Name',a:@item.avgTimePerRoomMonthly,b:@item.avgRoomPerDayMonthly},
                                        }
                                }

                        ],
                        barColors: ['#00a65a', '#f56954'],
                        xkey: 'y',
                        ykeys: ['a', 'b'],
                        labels: ['AvgTimePerRoom', 'AvgTotalRoom'],
                        hideHover: 'auto'
                    });
                });
            }
        }
    </script>
</body>
</html>
