﻿@model IEnumerable<SmartHotelDataAccessLayer.schedule>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BSmartHotel | Schedule</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
  <!-- fullCalendar -->
  <link rel="stylesheet" href="~/Content/bower_components/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="~/Content/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
    <link rel="stylesheet" href="~/Content/plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
   
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="~/Content/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="~/Content/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>

    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.js"></script>
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <!-- fullCalendar -->
    <script src="~/Content/bower_components/moment/moment.js"></script>
    <script src="~/Content/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Content/initial.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    @Html.Partial("Header")

    @Html.Partial("SideMenu")
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Schedule
        <small></small>
          <button type="button" class="btn btn-primary" id="sendMail" onclick="sendMail()" >Send Mail</button>
      </h1>
        
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Schedule</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h4 class="box-title">Draggable Events</h4>
            </div>
            <div class="box-body">
                <input type="hidden" id="currColor" />
              <!-- the events -->
              <div id="external-events">
@{
    int i = 0;
    foreach (var item in ViewBag.allAssignedTo)
    {
        i++;
        string color = "bg-green";
        switch (i%5)
        {
            case 1:
                color = "bg-green";
                break;
            case 2:
                color = "bg-yellow";
                break;
            case 3:
                color = "bg-aqua";
                break;
            case 4:
                color = "bg-light-blue";
                break;
            default:
                color = "bg-red";
                break;
        }
        <div class="external-event @color" id="@item.EmployeeID" name="@item.EmployeeID"> @item.Username : @item.Name</div>
}
    }
               
                <div class="checkbox">
                  <label for="drop-remove">
                    <input type="checkbox" id="drop-remove">
                    remove after drop
                  </label>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
          
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  @Html.Partial("Footer")
    

    <div class="modal modal-warning fade" id="modal-warning">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Schedule</h4>
                </div>
                <form id="editForm">
                    <input type="hidden" id="ScheduleID" />
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Start Time:</label>

                                <div class="input-group">
                                    <input type="text" class="form-control timepicker" id="editStartTime">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                                <label>End Time:</label>

                                <div class="input-group">
                                    <input type="text" class="form-control timepicker" id="editEndTime">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                                
                                <label for="editNotes">Notes</label>
                                <textarea class="form-control" id="editNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="editSchedule()">Save changes</button>
                        <button type="button" class="btn btn-outline" onclick="deleteSchedule()">Delete</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


  @Html.Partial("RightSideBar")
</div>
<!-- ./wrapper -->


<!-- Page specific script -->
<script>
  $(function () {
      //var source={url:'/Client/getScheduleEvents/'};
      //console.log("test : "+source);
    /* initialize the external events
     -----------------------------------------------------------------*/
    function init_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    init_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()
    $('#calendar').fullCalendar({
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week : 'week',
        day  : 'day'
      },
      //Random default events
      //events:'/Client/getScheduleEvents/',
          
      eventClick: function (calEvent, jsEvent, view) {
          $("#modal-warning").modal('show');
          $("#ScheduleID").val(calEvent.id);
          $("#editStartTime").val(calEvent.StartTime);
          $("#editEndTime").val(calEvent.EndTime);
          $("#editNotes").val(calEvent.Notes);
      },

      editable  : true,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function (date, allDay) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject')
        //console.log(originalEventObject.title);
        //console.log(date._d);
        //console.log($(this).css('background-color'));
        //console.log($(this).css('border-color'));
        //console.log("abc");
        addSchedule(originalEventObject.title, date._d);
        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject)

        // assign it the date that was reported
        copiedEventObject.start           = date
        copiedEventObject.allDay          = allDay
        copiedEventObject.backgroundColor = $(this).css('background-color')
        copiedEventObject.borderColor     = $(this).css('border-color')

        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove()
        }

      }
    })

    
      
  })
</script>

    <script>
        //$(document).ready(function () {
        //    var events = [];
        //    $('#calendar').fullCalendar({
        //        events: function (start, end, timezone, callback) {
        //            $.ajax({
        //                url: "/Client/getScheduleEvents",
        //                type: 'POST',
        //                success: function (doc) {
        //                    events.push(doc);
        //                    callback(events);
        //                }
        //            });
        //        }

        //    });
        //});
        function pupulateEvents()
        {
            $.ajax({
                type: "POST",
                url: "getScheduleEvents",
                data: {       //the data    
                },
                success: function (events) {
                    //console.log(events);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', events);
                        $('#calendar').fullCalendar('rerenderEvents');
                        $('span.fc-time').each(function () {
                            $(this).html('');//`<button type="button" class="btn btn - outline" onclick="deleteAlertsList()"><p style="color:red">X</p></button>`);
                        });
                    }
                }
            );
        }
        function addSchedule(a, b)
        {
            //console.log("Abc : "+$('#add-new-event').css('color'));
            //console.log(document.getElementById("currColor").value);
            $.post("@Url.Action("addSchedule", "Client")",
        {
            id: a,
            date: new Date(b).toDateString("MM/dd/yyyy")
        },
        function (data) {
            //$('#calendar').fullCalendar('refetchEvents');
            //$('#calendar').fullCalendar('removeEvents');
            //$('#calendar').fullCalendar('addEventSource', events);
            //$('#calendar').fullCalendar('refetchEvents');
            pupulateEvents();
        });
        }
    </script>
    <script>
        $(document).ready(function () {
            pupulateEvents();
        });
        </script>
    <script>
        $(function () {
      
      //Timepicker
            $('.timepicker').timepicker({

        showInputs: false
      })
    })
    </script>
    <script>
        function deleteSchedule() {
            
            $.post("@Url.Action("deleteSchedule", "Client")",
        {
            id: $("#ScheduleID").val()
        },
        function (data) {
            if (data == 1) {
                //alert("Schedule deleted Successfully");
                pupulateEvents();
                $("#cancel").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
        $(function () {

            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>
    <script>

        function editSchedule() {
        $.post("@Url.Action("editSchedule", "Client")",
    {
        id: $("#ScheduleID").val(),
            starttime:$("#editStartTime").val(),
            endtime:$("#editEndTime").val(),
        note:$("#editNotes").val()
    },
    function (data) {
        if (data == 1) {
            //alert("schedule edited Successfully");
            pupulateEvents();
            $("#cancel").click();

        }
        else{
            //alert("Something went wrong please try again ! ");

        }
    });
    }
    </script>
    <script>
        function sendMail() {
            document.getElementById("sendMail").disabled = true;
            $.post("@Url.Action("sendScheduleMail", "Client")",
        {

        },
        function (data) {
            if (data == 1) {
                //alert("Mail send Successfully");
                document.getElementById("sendMail").disabled = false;
            }
            else{
                //alert("Something went wrong please try again ! ");
                document.getElementById("sendMail").disabled = false;
            }
        });
        }
    </script>
</body>
</html>
