﻿@*<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>*@
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                @{
                    if (Session["ImagePath"] == null || Session["ImagePath"] == "")
                    {
                        <img data-name="@Session["EmployeeName"]" class="profile3 img-circle" />
                    }
                    else
                    {
                        <img src="@Session["ImagePath"]" class="img-circle" alt="User Image">
                    }
                }
                
            </div>
            <div class="pull-left info">
                <p>@Session["EmployeeName"] </p>
                <a href="#">
                    <i class="fa fa-circle text-success"></i> @Session["JobTitle"] 
                </a>
            </div>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            @{
                if ("OWNER;MANAGER;FRONTDESK;".Contains(Session["JobTitle"].ToString()))
                {
                    <li>
                        <a href="~/Client/index">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>

                        </a>
                    </li>
                }

                if (Session["SubscribedModules"].ToString().Contains("HOUSEKEEPING") && ("OWNER;MANAGER;FRONTDESK;".Contains(Session["JobTitle"].ToString())))
                {

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Housekeeping</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/Client/CreateRoomList">
                                    <i class="fa fa-circle-o"></i> Create Room List
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/AssignToHousekeeper">
                                    <i class="fa fa-circle-o"></i> AssignToHK
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/AssignToHeadHousekeeper">
                                    <i class="fa fa-circle-o"></i> AssignToHeadHK
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/ViewAllRooms">
                                    <i class="fa fa-circle-o"></i> View all Rooms
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/ViewByHousekeeper">
                                    <i class="fa fa-circle-o"></i> View RoomsBy HK
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/MaintenanceRequest">
                                    <i class="fa fa-circle-o"></i> Maintenance
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/InspectionList">
                                    <i class="fa fa-circle-o"></i> Inspection
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/Laundry">
                                    <i class="fa fa-circle-o"></i> Laundry
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/LostFoundRequest">
                                    <i class="fa fa-circle-o"></i> Lost & Found
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/Alerts">
                                    <i class="fa fa-circle-o"></i> Alerts
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                if (Session["SubscribedModules"].ToString().Contains("MESSAGING") && ("OWNER;MANAGER;FRONTDESK;".Contains(Session["JobTitle"].ToString())))
                {
                    <li>
                        <a href="~/Client/Message">
                            <i class="fa fa-calendar"></i>
                            <span>Employees Message</span>
                            <span class="pull-right-container">

                                <small class="label pull-right bg-blue" id="messagecount">0</small>
                            </span>
                        </a>
                    </li>
                }

                if (Session["SubscribedModules"].ToString().Contains("GUEST APP") && ("OWNER;MANAGER;FRONTDESK;".Contains(Session["JobTitle"].ToString())))
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa fa-calendar"></i>
                            <span>Guest</span>
                            <span class="pull-right-container">

                                <small class="label pull-right bg-green" id="Gmessagecount">0</small>
                            
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="~/Client/GuestList">
                                    <i class="fa fa-circle-o"></i> Guest Message
                                    <span class="pull-right-container">

                                        <small class="label pull-right bg-green" id="Gmessagecount1">0</small>

                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/GuestAmenties">
                                    <i class="fa fa-circle-o"></i> Amenties
                                </a>
                            </li>
                            </ul>
                        </li>

                            }

                            if (Session["SubscribedModules"].ToString().Contains("HOUSEKEEPING") && ("OWNER;MANAGER;".Contains(Session["JobTitle"].ToString())))
                            {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-pie-chart"></i>
                                    <span>Reports</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="~/Client/ReportHousekeeping">
                                            <i class="fa fa-circle-o"></i> Housekeeping Report
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Client/ReportMaintenance">
                                            <i class="fa fa-circle-o"></i> Maintenance Report
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            }
                            if (Session["SubscribedModules"].ToString().Contains("TIME CLOCK") && ("OWNER;MANAGER;".Contains(Session["JobTitle"].ToString())))
                            {
                            <li>
                                <a href="~/client/TimeCard">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    <span>Time Card</span>
                                    <span class="pull-right-container">
                                        <small class="label pull-right bg-yellow" id="timecardcount">0</small>
                                    </span>
                                </a>
                            </li>
                            }
                            if (Session["SubscribedModules"].ToString().Contains("SCHEDULING") && ("OWNER;MANAGER;".Contains(Session["JobTitle"].ToString())))
                            {
                            <li>
                                <a href="~/Client/schedule">
                                    <i class="fa fa-calendar"></i>
                                    <span>Schedules</span>
                                    <span class="pull-right-container">

                                    </span>
                                </a>
                            </li>
                            }
                            if (Session["SubscribedModules"].ToString().Contains("TIMEOFF") && ("OWNER;MANAGER;".Contains(Session["JobTitle"].ToString())))
                            {
                            <li>
                                <a href="~/client/TimeOffRequest">
                                    <i class="fa fa-user"></i>
                                    <span>Time Off Requests</span>
                                    <span class="pull-right-container">
                                        <small class="label pull-right bg-red" id="TotalTimeOffRequests"></small>
                                    </span>
                                </a>
                            </li>
                            }

                            if ("OWNER;MANAGER;".Contains(Session["JobTitle"].ToString()))
                            {
                            <li>
                                <a href="~/Client/Employees">
                                    <i class="fa fa-user"></i>
                                    <span>Employees</span>

                                </a>
                            </li>
                            }
                            }
            <li>
                <a href="~/Client/invoice">
                    <i class="fa fa-user"></i>
                    <span>invoice</span>

                </a>
            </li>
                            <li class="header">LABELS</li>
                            <li>
                                <a href="~/Client/FAQs">
                                    <i class="fa fa-circle-o text-red"></i>
                                    <span>FAQs</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/Help">
                                    <i class="fa fa-circle-o text-yellow"></i>
                                    <span>Help</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Client/Support">
                                    <i class="fa fa-circle-o text-aqua"></i>
                                    <span>Support</span>
                                </a>
                            </li>
                        </ul>
</section>
    <!-- /.sidebar -->
</aside>

<script>
    function updateAllCounts() {
        $.post("@Url.Action("updateAllCounts", "Client")",
    {
    },
    function (data) {

        document.getElementById("timecardcount").innerHTML = data["TotalClockInUser"];
        document.getElementById("TotalTimeOffRequests").innerHTML = data["TotalTimeOffRequests"];
        document.getElementById("messagecount").innerHTML = data["TotalUnreadMessage"];
        document.getElementById("Gmessagecount").innerHTML = data["TotalGUnreadMessage"];
        document.getElementById("Gmessagecount1").innerHTML = data["TotalGUnreadMessage"];
        
    });
    }
</script>
<script>
    $(document).ready(function () {
        updateAllCounts();
        setInterval(function () {
            updateAllCounts();
        }, 1000);
        $('.profile3').initial({height:40,width:40,fontSize:35});
    });
</script>