﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Timeline</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  @Html.Partial("Header")
@Html.Partial("SideMenu")

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Support
        <small>example</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">UI</a></li>
        <li class="active">Support</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
          
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>
                
                    <div class="timeline-item">
                        @*<span class="time" id="displaytime"><i class="fa fa-clock-o"></i> 12:05</span>*@
                        <form name="sendFeedbackForm" id="sendFeedbackForm">
                            <input type="hidden" id="requestdate" name="requestdate" />
                            <h3 class="timeline-header"><a href="#">Support Our Team</a> (Send a feedback, its completely anonymous)</h3>

                            <div class="timeline-body">
                                <textarea placeholder="Enter Any new feature you would like to have in this software for you or any other complaint/suggestions. " id="comment" name="comment" Style="width : 100%" required></textarea>
                            </div>
                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs" onclick="sendFeedback()">Send feedback</a>

                            </div>
                        </form>
</div>
                    
</li>

            @*<li>
              <i class="fa fa-video-camera bg-maroon"></i>

              <div class="timeline-item">
              
                <h3 class="timeline-header"><a href="#">How to use housekeeping features ? </a> </h3>

                <div class="timeline-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGyxQAV2X9Y"
                            frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
               
              </div>
            </li>*@
            <!-- END timeline item -->
            <li>
                
                    <i class="fa fa-video-camera bg-maroon"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjZ3AqT3K">How to create room list? </a> </h3>
                   
                </div>
            </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjZ39qT07">How to assign room automatically? </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjZ04qTTu">How to assign room to Housekeeper and Head Housekeeper manually?  </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjZ0EqTTS">How to create and assign tasks to laundry person? (Custom tasks) </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjZ07qTO3">How to send message to other employees? </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjZ09qTOG">How to view, edit, delete or export employee time card ? </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjTciqTto">How to create schedule of all employees in seconds? </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjTcXqTt0">How to approve/reject timeoff requests of employees? </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjTcDqTt4">How to add, edit, delete or deactivate employees? </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjTcYqTtd">How to add guest Amenities? </a> </h3>

                  </div>
              </li>
              <li>

                  <i class="fa fa-video-camera bg-maroon"></i>
                  <div class="timeline-item">
                      <h3 class="timeline-header"><a target="_blank" href="https://screencast-o-matic.com/watch/cFjTcOqTul">How to add guest into the system and chat with guest? </a> </h3>

                  </div>
              </li>
          </ul>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  @Html.Partial("Footer")
    

  <!-- Control Sidebar -->
    @Html.Partial("RightSideBar")
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Content/dist/js/demo.js"></script>

    <script>
        $(document).ready(function () {
            var d = new Date();
            var date = d.getDate();
            var month = (d.getMonth() + 1);
            if (month < 10) {
                month = "0" + (d.getMonth() + 1);
            }
            if (date < 10) {
                date = "0" + d.getDate();
            }
            var datetext = d.toTimeString();
            datetext = datetext.split(' ')[0];
            var dateString = month + "/" + date + "/" + d.getFullYear() + " " + datetext;
            //$("#displaytime").val("<i class=\"fa fa-clock-o\"></i>"+d.toTimeString());
            $("#requestdate").val(dateString);
        });
    </script>
    <script>
        function sendFeedback() {
            if ($("#sendFeedbackForm")[0].checkValidity())
                {
        $.post("@Url.Action("sendFeedback", "Client")",
    {
        datet: $("#requestdate").val(),
        comment: $("#comment").val()
    },
    function (data) {
        if (data == 1) {
            //$("#editcancel").click();
            //alert("Alerts edited Successfully");
            $("#sendFeedbackForm")[0].reset();
        }
        else{
            //alert("Something went wrong please try again ! ");

        }
    });
        }
        else
        {
                $("#sendFeedbackForm")[0].reportValidity();
        }
        }
    </script>
</body>
</html>