﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
 
</head>
<body class="hold-transition skin-blue sidebar-mini" id="body">
<div class="wrapper">

   @Html.Partial("Header")
    
    @Html.Partial("SideMenu")
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="overflow-y: hidden;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Time Card
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Time Card</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
    <div class="box" id="abcd">
      <div class="box-header">
        <h3 class="box-title">Employee Time Card</h3>
          <form action="~/Client/ExpertToExcelTimeCard" method="post" name="exportExcelTimeCard">
              <table class="pull-right">
                  <tr>
                      <td>
                          Start date :
                          <input type="date" name="startDateExcel" required />
                      </td>
                      <td>
                          End date :
                          <input type="date" name="endDateExcel" required />
                      </td>
                      <td>&nbsp;</td>
                      <td><button type="submit" class="btn btn-primary"><i class="fa fa-files-o"></i>Export Excel</button></td>
                      
                  </tr>
              </table>
          </form>
              
      </div>
      <!-- /.box-header -->

        <div class="box-body table-responsive no-padding" id="abc">
            
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Date</th>
                        <th>Clock-In/Out</th>
                        <th>Lunch-In/Out</th>
                        <th>Total LunchTIme</th>
                        <th>Total WorkedHours</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                
                </tbody>
                </table>
</div>
        </div>
        </div>
  </div>  
    </section>
  </div>
    
    
      
     

  
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

  <div class="modal modal-warning fade" id="modal-warning">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Time Card</h4>
          </div>
            <form id="editForm" name="editForm">
                <input type="hidden" id="timeCardID" />
                <div class="modal-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Clock-In Time:</label>

                            <div class="input-group">
                                <input type="text" class="form-control timepicker" id="editClockinTime" >

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <label>Clock-Out Time:</label>

                            <div class="input-group">
                                <input type="text" class="form-control timepicker" id="editClockoutTime" >

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <label>Lunch-In Time:</label>

                            <div class="input-group">
                                <input type="text" class="form-control timepicker"  id="editLunchinTime">

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <label>Lunch-Out Time:</label>

                            <div class="input-group">
                                <input type="text" class="form-control timepicker"  id="editLunchoutTime">

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <label for="editNotes">Notes</label>
                            <textarea class="form-control" id="editNotes" placeholder="Enter Notes"></textarea>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancel">Close</button>
                    <button type="button" class="btn btn-outline" onclick="editTimeCard()">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>

  <div class="modal modal-success fade" id="modal-success">
      <div class="modal-dialog">
        <div class="modal-content">
            <form id="addForm">
                <input type="hidden" id="timeCardID" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Add Notes</h4>
                </div>
                <div class="modal-body">
                    <label for="editnote">Notes</label>
                    <textarea class="form-control" id="editnote" placeholder="Enter Notes" required="Please Enter Note"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelnote">Close</button>
                    <button type="button" class="btn btn-outline" id="addBtn">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content">
              <form onsubmit="deleteTimeCard()">
                  <input type="hidden" id="timeCardID" />
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Delete</h4>
                  </div>
                  <div class="modal-body">
                      <p>Are you sure you want to delete it ? </p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="deletecancel">Close</button>
                      <button type="submit" class="btn btn-outline" id="deleteBtn">Delete</button>
                  </div>
                  </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
  </div>
  @Html.Partial("RightSideBar")
<!-- ./wrapper -->


<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable({
            "ajax": 'getTimeCards/',
            "columns": [
          { "data": "EmployeeName" },
          { "data": null,
          "render" : function(data,type,full){
              return full["WorkDate"];
          } },
          {
              "data": null,
              "render": function (data, type, full) {
                  if (full['ClockInTime'] != null && full['ClockInTime'] != '') {
                      //console.log(document.getElementById("timecardcount").innerHTML + "  " + full['ClockInTime']);
                      //document.getElementById("timecardcount").innerHTML = full['TotalClockInUser'];
                      //console.log($("#timecardcount").html);
                      //console.log("lineend");
                  }
                  return full['ClockInTime'] + ' - ' + full['ClockOutTime'];
                  
              }
          },
          {
              "data": null,
              "render": function (data, type, full) {
                  return full['LunchInTime'] + ' - ' + full['LunchOutTime'];
              }
          },
          { "data": "TotalLunchTime" },
          { "data": "TotalWorkedHour" },
          {
              "targets": 4,
              "data": "TimeCardID",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                    <button type="button" class ="btn btn-warning" data-toggle="modal" data-target="#modal-warning" value=` + data + `>Edit</button>
                    <button type="button" class ="btn btn-success" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Notes</button>
                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                  </div>`
                  ;
              }
          }
          //},
          //{
          //    "targets": -1,
          //    "data": null,
          //    "defaultContent": `<div class="btn-group">
          //          <button type="button" class ="btn btn-warning" data-toggle="modal" data-target="#modal-warning" value="TimeCardID">Edit</button>
          //          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">Notes</button>
          //          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">Delete</button>
          //        </div>`

          //}

            ]
        });
    });
    setInterval(function () {
        var session = @Session["BusinessID"] != null;
        if (session == false) {
            window.location = "/Client/Login";
        }
        else {
            $('#example1').DataTable().ajax.reload(null,false);
        }
          }, 1000);
          $('#example1 tbody').on('click', 'button', function () {
              //console.log()
              var data = $('#example1').DataTable().row($(this).parents('tr')).data();
              
              $("#timeCardID").val(data["TimeCardID"])
              $("#editClockinTime").val(data["ClockInTime"]);
              $("#editClockoutTime").val(data["ClockOutTime"]);
              $("#editLunchinTime").val(data["LunchInTime"]);
              $("#editLunchoutTime").val(data["LunchOutTime"]);
              $("#editNotes").val(data["Notes"]);
              $("#editnote").val(data["Notes"]);
              
              //console.log($("#editClockoutTime").val());
          });
    </script>
    <script>
    
    function editTimeCard() {
        $.post("@Url.Action("editTimeCards", "Client")",
    {
        id: $("#timeCardID").val(),
            clockintime:$("#editClockinTime").val(),
            clockouttime:$("#editClockoutTime").val(),
        lunchintime: $("#editLunchinTime").val(),
        lunchouttime:$("#editLunchoutTime").val(),
        note:$("#editNotes").val()
    },
    function (data) {
        if (data == 1) {
            //alert("TimeCard edited Successfully");
            $("#cancel").click();

        }
        else{
            //alert("Something went wrong please try again ! ");

        }
    });
    }
</script>
    <script>
        function editTimeCardNotes() {
            $.post("@Url.Action("editTimeCardNote", "Client")",
        {
            id: $("#timeCardID").val(),
            
            note: $("#editnote").val()
        },
        function (data) {
            if (data == 1) {
                //alert("Notes edited Successfully");
                $("#cancelnote").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>

    <script>
        function deleteTimeCard() {
            $.post("@Url.Action("deleteTimeCard", "Client")",
        {
            id: $("#timeCardID").val()
        },
        function (data) {
            if (data == 1) {
                //alert("TimeCard deleted Successfully");
                $("#cancelnote").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>

<script>
    $(function () {
      
      //Timepicker
      $('.timepicker').timepicker({
        showInputs: false
      })
    })
  
    $("#addBtn").on("click", function () {
        if ($("#addForm")[0].checkValidity()) {
            editTimeCardNotes();
        }
        else {
            $("#addForm")[0].reportValidity();
        }
    });
    //$("#editBtn").on("click", function(){
    //    if ($("#editForm")[0].checkValidity())
    //{
    //        editTimeCard();
    //}
    //else
    //{
    //        $("#editForm")[0].reportValidity();
    //}
    //});
    </script>
   <script>
       function UTCtoDate(utcdate)
       {
           console.log("plan " + utcdate);
           var dt1=new Date();
           dt1.setUTCDate=parseInt(utcdate.substring(4,5));
           dt1.setUTCMonth=parseInt(utcdate.substring(0,2));
           dt1.setFullYear=parseInt(utcdate.substring(6,10));
           //var dt = utcdate.replace(new RegExp("-",'g'), "/") + " UTC";
           console.log("dt" +dt1);
           var date = new Date(dt1);
           
           console.log(date.getMonth()+"-"+date.getDate()+"-"+date.getYear());
           return date.getMonth() + "-" + date.getDate() + "-" + date.getFullYear();
       }
       function UTCtoTime(utcTime) {
           var dt1 = new Date();
           var a="asc";
           
           if (utcdate.substring(6, 8).toLowerCase() == "pm")
           {
               //dt1.setUTCHourss
           }
           else
           {

           }
           dt1.setUTCDate = parseInt(utcdate.substring(4, 5));
           dt1.setUTCMonth = parseInt(utcdate.substring(0, 2));
           dt1.setFullYear = parseInt(utcdate.substring(6, 10));
           //var dt = utcdate.replace(new RegExp("-",'g'), "/") + " UTC";
           console.log("dt" + dt1);
           var date = new Date(dt1);

           console.log(date.getMonth() + "-" + date.getDate() + "-" + date.getYear());
           return date.getMonth() + "-" + date.getDate() + "-" + date.getFullYear();
       }
   </script>

</body>
</html>
