﻿<!DOCTYPE html>
<html>
<head>
  @Html.Partial("IncludeLink")
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

@Html.Partial("Header")

@Html.Partial("SideMenu")
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Time Off Requests  
       <!--  <small>Control panel</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">TimeOff Requests</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <form action="~/Client/ExpertToExcelTimeOffRequest">
                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-files-o"></i>Export Excel</button>
                </form>
              <div class="box-tools">
               
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              @*<table class="table table-hover">*@
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Requested Start Date</th>
                            <th>Requested End Date</th>
                            <th>Reason</th>
                            <th>CreatedAt</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    <tbody>
                        
                    </tbody>
</table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->
  @Html.Partial("Footer")
    

    @Html.Partial("RightSideBar")
  <div class="modal modal-success fade" id="modal-success">
      <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <input type="hidden" id="approveTimeOffRequestID" />
                <input type="hidden" id="approvestatus" value="Approve"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Approve</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to approve TimeOff request?</p>

                </div>
                <div class="modal-body">
                    <label for="editnote">Comment</label>
                    <textarea class="form-control" name="approveComment" id="approveComment" placeholder="Enter Notes"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelApprove">Close</button>
                    <button type="button" class="btn btn-outline" onclick="approveTimeOffRequest()">Save changes</button>
                </div>
                </form>
</div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>

  <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content">
              <form>
                  <input type="hidden" id="rejectTimeOffRequestID" />
                  <input type="hidden" id="rejectstatus" value="Reject" />
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Reject</h4>
                  </div>
                  <div class="modal-body">
                      <p>Are you sure you want to Reject TimeOff Request? </p>
                  </div>
                  <div class="modal-body">
                      <label for="editnote">Comment</label>
                      <textarea class="form-control" name="rejectComment" id="rejectComment" placeholder="Enter Notes"></textarea>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelReject">Close</button>
                      <button type="submit" class="btn btn-outline" onclick="rejectTimeOffRequest()">Delete</button>
                  </div>
                  </form>
              
</div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
  </div>
  @Html.Partial("RightSideBar")
<!-- ./wrapper -->


    <script>
       
        $(function () {
            $('#example1').DataTable({
                "order": [],
                "ajax": 'getTimeOffRequests/',
                "columns": [
              { "data": "EmployeeName" },
              { "data": "StartDate" },
               { "data": "EndDate" },
                { "data": "Reason" },
          { "data": "CreatedAt" },
          { "data": "Status" },
          {
              "targets": 4,
              "data": "TimeOffRequestID",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                                    <button type="button" class ="btn btn-success" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Approve</button>
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Reject</button>
                                </div>`
                  ;
              }
          }
            ]
        });
    });
          setInterval(function () {
              $('#example1').DataTable().ajax.reload(null,false);
          }, 2000);
          $('#example1 tbody').on('click', 'button', function () {
              //console.log()
              var data = $('#example1').DataTable().row($(this).parents('tr')).data();

              $("#approveTimeOffRequestID").val(data["TimeOffRequestID"])
              $("#rejectTimeOffRequestID").val(data["TimeOffRequestID"]);

              //console.log($("#editClockoutTime").val());
          });
    </script>
    <script>
        function approveTimeOffRequest() {
            $.post("@Url.Action("approveRejectTimeOffRequest", "Client")",
        {
            id: $("#approveTimeOffRequestID").val(),
            status: $("#approvestatus").val(),
            comment: $("#approveComment").val()
        },
        function (data) {
            if (data == 1) {
                //alert("TimeOff Approved Successfully");
                $("#cancelApprove").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
    <script>
        function rejectTimeOffRequest() {
            $.post("@Url.Action("approveRejectTimeOffRequest", "Client")",
        {
            id: $("#rejectTimeOffRequestID").val(),
            status:$("#rejectstatus").val(),
            comment: $("#rejectComment").val()
        },
        function (data) {
            if (data == 1) {
                //alert("TimeOff Rejected Successfully");
                $("#cancelReject").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
</body>
</html>
