﻿@model IEnumerable<SmartHotelDataAccessLayer.roomlist>
<!DOCTYPE html>
<html>

<head>
  @Html.Partial("IncludeLink")
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

     @Html.Partial("Header")

    @Html.Partial("SideMenu")

    <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              <h1>
                  <form action="~/Client/ViewAllRooms">
                      View All Rooms By Housekeeper<button type="submit" class="btn btn-success pull-right">VIEW ALL ROOMS</button>
                      <!--  <small>Control panel</small> -->
                  </form>
              </h1>

          </section>

          <div class="box-body" id="addTables">
              @{
                  foreach (var item in ViewBag.AllHousekeeper)
                  {
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">@item.Name</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>Room#</th>
                                                <th>Status</th>
                                                <th>Duty</th>
                                                <th>Start/End Time</th>
                                                <th>Total Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model != null)
                                                {
                                                    foreach (var item1 in Model.Where(l => l.HousekeeperID == Convert.ToInt32(@item.EmployeeID)))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item1.room.RoomNumber
                                                            </td>
                                                            <td>@item1.roomstatu.Status</td>
                                                            <td>
                                                                <span class="label label-success">@item1.roomduty.Duty</span>
                                                            </td>
                                                            <td>
                                                                
                                                                @{
                                                                    if (item1.StartTime != null)
                                                                    {
                                                                        @:@DateTime.Today.Add((TimeSpan)item1.StartTime).ToString("hh:mm tt")
                                                                    }
                                                                }
                                                                    -
                                                                @{
                                                                    if (item1.EndTime != null)
                                                                    {
                                                                        @:@DateTime.Today.Add((TimeSpan)item1.EndTime).ToString("hh:mm tt")
                                                                    }
                                                                }

                                                            <td>
                                                                @item1.TotalTime
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                     </div>


                        }
                        }
          </div>
      </div>
  </div>

  <!-- /.content-wrapper -->
                    @Html.Partial("Footer")
                        

                    @Html.Partial("RightSideBar")
                    <script>
                        $(function () {
                            $('#example1').DataTable()
                            $('#example2').DataTable({
                                'paging': true,
                                'lengthChange': false,
                                'searching': false,
                                'ordering': true,
                                'info': true,
                                'autoWidth': false
                            })
                        })
                    </script>
                    <script>
                        @*function viewRoomList() {
        $.post("@Url.Action("getAllRoomsListforHK", "Client")",
    {
    },
    function (data) {
        console.log(data.data);
        var t1 = document.getElementById("addTables");
        for (var i = 0; i < data.data.length; i++) {
            var tablevalue = document.getElementById("Table"+data.data[i].AssignToId);
            console.log("tavlevalue : " + tablevalue);
            if (tablevalue)
            {
            }
            else
                {
                console.log("abc");
                var div = document.createElement('div');

                div.className = 'col-md-6';

                div.innerHTML =
                    '<div class="box box-info">\
                    <div class="box-header with-border">\
                    <h3 class="box-title">' + data.data[i].AssignedTo + '</h3>\
                  <div class="box-tools pull-right">\
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">\
                      <i class="fa fa-minus"></i>\
                    </button>\
                    <button type="button" class="btn btn-box-tool" data-widget="remove">\
                      <i class="fa fa-times"></i>\
                    </button>\
                  </div>\
                </div>\
                <div class="box-body">\
                  <div class="table-responsive">\
                    <table class="table no-margin" id="' + data.data[i].AssignToId + '">\
                      <thead>\
                        <tr>\
                          <th>Room#</th>\
                          <th>Status</th>\
                          <th>Duty</th>\
                          <th>Start/End Time</th>\
                          <th>Total Time</th>\
                        </tr>\
                      </thead>\
                      <tbody  >\
                      </tbody>\
        </table>\
      </div>\
                    </div></div>';

                document.getElementById('addTables').appendChild(div);
                // var htmlAppend = "<h1>test 1234</h1>";  //`<div class="col-md-6">


            }
            }
    });
        }
        $(document).ready(function () {
            viewRoomList();
        });*@
                    </script>
</body>

</html>