﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("IncludeLink")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Header")

        @Html.Partial("SideMenu")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    View All Rooms
                    <!--  <small>Control panel</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">View All Rooms</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">All Rooms</h3>
                                <form action="~/Client/ExpertToExcelViewAllRooms">
                                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-files-o"></i>Export Excel</button>
                                </form>
                                <form action="~/Client/ViewByHousekeeper">
                                    <button type="submit" class="btn btn-success pull-right">VIEW BY HOUSEKEEPER</button>
                                </form>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Room#</th>
                                            <th>AssignedTo</th>
                                            <th>Duty</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>VerifiedBy</th>
                                            <th>Start/End Time</th>
                                            <th>Total Time</th>
                                            <th>Notes</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <!--  <tfoot>
                                     <tr>
                                       <th>Rendering engine</th>
                                       <th>Browser</th>
                                       <th>Platform(s)</th>
                                       <th>Engine version</th>
                                       <th>CSS grade</th>
                                     </tr>
                                     </tfoot> -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
    @Html.Partial("Footer")
        
    @Html.Partial("RightSideBar")

    <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Room</h4>
                </div>
                <form>
                    <input type="hidden" id="deleteroomListId" />
                    <div class="modal-body">
                        <p>Are you sure you want to delete this room?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancelDelete">Close</button>
                        <button type="button" class="btn btn-outline" onclick="deleteRoomList()">Delete</button>
                    </div>
                </form>
                
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Control Sidebar -->
    <!-- ./wrapper -->
    <div class="modal modal-warning fade" id="modal-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit RoomList</h4>
                </div>
                <form name="editRoomForm" id="editRoomForm">
                    <input type="hidden" id="roomListId" />
                    <div class="modal-body">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Select Assigned To</label>
                                @Html.DropDownList("selectionAssignedToID", new SelectList(ViewBag.AllHousekeeper, "EmployeeID", "Name"), "Select Housekeeper", new { @class = "form-control", id = "selectionAssignedToID", required = "required" })

                                <label>Select Room Duty</label>

                                @Html.DropDownList("selectionRoomDuty", new SelectList(ViewBag.allDuties, "RoomDutyID", "Duty"), "Select Room Duty", new { @class = "form-control", id = "selectionRoomDuty", required = "required" })
                                <label>Select Room Status</label>

                                @Html.DropDownList("selectionRoomStatus", new SelectList(ViewBag.allStatus, "RoomstatusID", "Status"), "Select Room Status", new { @class = "form-control", id = "selectionRoomStatus", required = "required" })
                                <label>Select Room Priority</label>

                                @Html.DropDownList("selectionRoomPriority", new SelectList(ViewBag.allPriorities, "PriorityID", "Priority1"), "Select Room Priority", new { @class = "form-control", id = "selectionRoomPriority", required = "required" })
                                <label>Select Verified By</label>
                                @Html.DropDownList("selectionVerifiedByID", new SelectList(ViewBag.AllHeadHousekeeper, "EmployeeID", "Name"), "Select Head Housekeeper", new { @class = "form-control", id = "selectionVerifiedByID", required = "required" })

                                <label for="editNotes">Notes</label>
                                <textarea class="form-control" id="editNotes" placeholder="Enter Notes"></textarea>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="cancel">Close</button>
                        <button type="button" class="btn btn-outline" onclick="editRoomList()">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        $(function () {
            $('#example1').DataTable({
                "ajax": 'getAllHKRooms/',
                "columns": [
              { "data": "RoomNumber" },
          { "data": "AssignedTo" },
              { "data": "Duty" },
               { "data": "Status" },
                { "data": "Priority" },
          { "data": "VerifiedBy" },
          {
              "data": null,
              "render": function (data, type, full) {
                  if (full['StartTime'] != null && full['EndTime'] != '') {
                  }
                  return full['StartTime'] + ' - ' + full['EndTime'];

              }
          },
          { "data": "TotalTime" },
          { "data": "Note" },
          {
              "targets": 4,
              "data": "RoomListID",
              "render": function (data, type, row, meta) {
                  return `<div class="btn-group">
                                    <button type="button" class ="btn btn-info" data-toggle="modal" data-target="#modal-success" value= ` + data + ` >Edit</button>
                                    <button type="button" class ="btn btn-danger" data-toggle="modal" data-target="#modal-danger" value= ` + data + ` >Delete</button>
                                </div>`
                  ;
              }
          }
            ]
        });
    });
        setInterval(function () {
            var session = @Session["BusinessID"] != null;
            if (session == false) {
                window.location = "/Client/Login";
            }
            else {
                $('#example1').DataTable().ajax.reload(null,false);
            }
          }, 2000);
          $('#example1 tbody').on('click', 'button', function () {

              var data = $('#example1').DataTable().row($(this).parents('tr')).data();

              $("#deleteroomListId").val(data["RoomListID"])
              $("#roomListId").val(data["RoomListID"]);
              $("#selectionAssignedToID").val(data["AssignToId"]);
              $("#selectionRoomDuty").val(data["DutyId"]);
              $("#selectionRoomStatus").val(data["StatusId"]);
              $("#selectionRoomPriority").val(data["PriorityId"]);
              $("#selectionVerifiedByID").val(data["VerifiedById"]);
              $("#editnote").val(data["Notes"]);

              //console.log($("#editClockoutTime").val());
          });
    </script>
    <script>
        function editRoomList() {
            if($("#editRoomForm")[0].checkValidity())
            {
                $.post("@Url.Action("editRoomListAjax", "Client")",
            {
                id: $("#roomListId").val(),
                HKId: $("#selectionAssignedToID").val(),
                duty: $("#selectionRoomDuty").val(),
                status: $("#selectionRoomStatus").val(),
                priority: $("#selectionRoomPriority").val(),
                HeadHk: $("#selectionVerifiedByID").val(),
                note: $("#editNotes").val()
            },
            function (data) {
                if (data == 1) {
                    //alert("RoomList edited Successfully");
                    $("#cancel").click();
                    $("#editRoomForm")[0].reset();
                }
                else{
                    //alert("Something went wrong please try again ! ");

                }
            });
            }
            else
            {
                $("#editRoomForm")[0].reportValidity();
            }
    }
    </script>
    <script>
        function deleteRoomList() {
           
            $.post("@Url.Action("deleteRoomListAjax", "Client")",
        {
            id: $("#roomListId").val(),
           
        },
        function (data) {
            if (data == 1) {
                //alert("RoomList deleted Successfully");
                $("#cancelDelete").click();

            }
            else{
                //alert("Something went wrong please try again ! ");

            }
        });
        }
    </script>
</body>
</html>
